Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Fixed linter issue
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added description, and name can now have spaces
  frontend/src/pages/Admin/RoleCreate.jsx
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed from fetching belts to fetching protocols in GradingCreate as well, functionality for fetching name and code from protocol not yet implemented
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

change to doublequote
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Update WorkoutActivityListItem.test.jsx, removed unnecessary comments.
  frontend/src/__tests__/components/Workout/WorkoutActivityList/WorkoutActivityListItem.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed pemdas so that comments are not cutoff by the page
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Fixed linter issue with tests...
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added symbol for dropdown clarity
  frontend/src/components/Common/RoleCard/PermissionListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed auto-scrolling for exercises in add activity
  frontend/src/components/Common/ExerciseCard/ExerciseListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

further fixed some comments in statistics pages, and added some
  frontend/src/pages/Statistics/FilterStatistics.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

change to doublequote
  frontend/src/pages/Plan/EditGroup/EditGroup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Divided technique and exercises in backend.
  backend/api/src/main/java/se/umu/cs/pvt/PermissionValidator.java
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/PermissionValidator.java
  infra/database/init/defaults/permissions.sql
Due: test-backend, test-database

Updated quick start and git guidelines in README.md to the new guides in the new wiki
  README.md
Due: none

change so title not get default
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed return type for getting all users with role id to UserShort to avoid password being returned
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserRepository.java
Due: test-backend

Updated list of permissions in utils.js.
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

initial push of testfile
  frontend/src/__tests__/pages/Grading/GradingDuring.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added leave popup when pressing somewhere in navbar
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Revert "Updated quick start and git guidelines in README.md to the new guides in the new wiki"
  README.md
Due: none

fixed some imports
  frontend/src/__tests__/pages/Grading/GradingDuring.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added id for the infoPanel component
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed console.logs from grading pages
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

refactoring seems to work as intended, however, code needs to be broken up into functions
  frontend/src/pages/Grading/GradingCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Divided the permissions for technique and exercises in frontend.
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
  frontend/src/pages/Activity/Exercise/ExerciseDetailsPage.jsx
  frontend/src/pages/Activity/Exercise/ExerciseIndex.jsx
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetail.jsx
  frontend/src/pages/Activity/Technique/TechniqueIndex/TechniqueIndex.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Finished fixing indentations, removing extra linebreaks, updating adn adding a few comments for Statistics page
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

rename parrent variable
  frontend/SystemTests/PageObjectModels/groupsPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Merge
  backend/api/src/main/java/se/umu/cs/pvt/statistics/BeltSuccession.java
Due: test-backend

Fixed bug where new empty page is created
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

updated docs
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserRepository.java
Due: test-backend

add comments
  frontend/SystemTests/PageObjectModels/groupsPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Updated README.md.
  README.md
Due: none

add comment
  frontend/SystemTests/TestFiles/groups.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixes DB backup and restore scripts
  infra/database/backup_db.sh
  infra/database/restore_db.sh
Due: none

broke up code into more functions for cleaner code
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed MINOR spelling mistakes.
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

WIP change for permissionsValidator
  backend/api/src/main/java/se/umu/cs/pvt/PermissionValidator.java
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/PermissionValidator.java
Due: test-backend

Fixed merge conflict and added function comment
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

nodes in a chain is i the corect order and when creating a new chain the nodes now is saved to
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainInChain.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainInChainRepository.java
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
  infra/database/init/01-init.sql
Due: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

yeah
  frontend/SystemTests/PageObjectModels/groupsPage.ts
  frontend/SystemTests/TestFiles/groups.spec.ts
  frontend/SystemTests/Types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that the lines can be seen in firefox
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend
