Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

fixed user token being invalid when passing it to the builder and fixed the queries
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
  frontend/src/components/Common/SearchBar/SearchBarUtils.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

change css rem
  frontend/src/components/Common/Button/BeltButton.module.css
Due: test-linter-frontend, test-frontend, build-frontend

added the lost bean that caused test failures
  backend/api/src/test/java/se/umu/cs/pvt/search/SearchControllerTest.java
Due: test-backend, generate-api-docs, generate-javadocs

"" and not ''
  frontend/src/pages/Workout/WorkoutCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

refactored some parts of the code
  frontend/src/components/Grading/PerformGrading/CommentButton.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixes removing activity from reducer
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
  frontend/src/pages/List/ListInfo.jsx
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

feature toggle lists
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixes linting
  frontend/src/components/Common/List/ListCreateReducer.js
Due: test-linter-frontend, test-frontend, build-frontend

Adding lock variable, should be used then for each of the pair and examinee
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Implementation complete for new mon belt categories as well as new database files for belts and techniques and tags
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchPlanResponseBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/PlanDBResult.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/responses/PlanSearchResponse.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/BeltResponse.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsRepository.java
  frontend/src/__tests__/components/Common/BeltPicker/BeltPicker.test.jsx
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
  frontend/src/components/Common/BeltPicker/BeltPicker.jsx
  infra/database/init/defaults/tags.sql
  infra/database/init/defaults/techniques.sql
Due: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Changed variable name on AccauntContext from user to context
  frontend/src/components/Plan/SessionWorkout.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed test
  frontend/src/__tests__/components/Grading/PerformGrading/CommentButton.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed name from user to context in functions that checks if user can do something and added function CanCreateActivity()
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Added new check for the + button, only shown for those who can create technique
  frontend/src/pages/Activity/Technique/TechniqueIndex/TechniqueIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed variables needed for the api call when fetching only the users own list
  frontend/src/components/Activity/AddToListPopupContent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added the files for the backend and api, some basic implementation
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainChain.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainChainRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNode.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainWeave.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainWeaveRepository.java
  frontend/src/pages/Techniquechain/Techniquechain/Techniquechain.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
  infra/database/init/01-init.sql
Due: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

sort of works
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed funtion name of canCreateActivity. This function is used for all. Add and edit all or nothing.
  frontend/src/pages/Activity/Technique/TechniqueIndex/TechniqueIndex.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

User can be created test fixed
  frontend/src/__tests__/components/Grading/EditableListItem.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added some things
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed uncessecary files that crashed the sys tests
  media/Screenshot 2024-04-22 at 13.32.02.png
  z_belt_backup.sql
  z_changes-newbelt.md
  z_techniques_to_add.md
  zkladd.md
Due: none

Changed check to new check for editing a technique
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetail.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added p-flag for all docker composes
  .gitlab-ci.yml
Due: none

Adding new font
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
  infra/fonts/DroidSans.ttf
Due: test-backend, generate-api-docs, generate-javadocs

added usershortdto for author instead of just id
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListResponseBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/responses/ActivityListSearchResponse.java
  backend/api/src/test/java/se/umu/cs/pvt/search/SearchControllerTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed Id
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added more permissions for user and editor temporarily in the init script for permissions.sql.
  infra/database/init/defaults/permissions.sql
Due: test-database, rebuild-database

Fixed docs build error
  docker-compose-development.yml
  nginx/development/Dockerfile
  nginx/development/development.conf
Due: none

Added coment that team mango have edited these files
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetail.jsx
  frontend/src/pages/Activity/Technique/TechniqueIndex/TechniqueIndex.jsx
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created method in user reposutory to find if any users with a specifik role exists.
  backend/api/src/main/java/se/umu/cs/pvt/user/UserRepository.java
Due: test-backend, generate-api-docs, generate-javadocs

Feature that exports and downloads PDF in frontend is added.
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

WIP permission check
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
Due: test-backend, generate-javadocs

Added -p html instead of yotei
  .gitlab-ci.yml
Due: none

Rendering test for statistics button on group page
  frontend/src/__tests__/pages/Group/GroupIndex.test.jsx
  frontend/src/__tests__/pages/Plan/PlanIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed config error
  nginx/development/Dockerfile
Due: none

fixed bugs related to updating the database with result and not handling null correctly when retrieving and updating the examinee boxes.
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed pipeline to follow the new dockerfile script
  .gitlab-ci.yml
  docker-compose-development.yml
Due: none

changes done by linter
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Apply 1 suggestion(s) to 1 file(s)
  frontend/SystemTests/TestFiles/workout.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

fake commit to try pipeline, systests does not work locally, du ser inget emil
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
Due: test-backend, generate-api-docs, generate-javadocs
