Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=\!TechniqueDatabaseTest

test-database:
  stage: test
  tags:
  - system
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend/api
  ...

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

fixes logic regarding the checkbox for toggling all activities in a list when adding activities
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added loading spinner when exporting PDF
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingBefore.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed spelling mistake in permission controller.
  backend/api/src/main/java/se/umu/cs/pvt/permission/Permission.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/PermissionController.java
Due: test-backend

merge with Isac
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/index.js
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveIndex.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeave_page/TechniqueWeave_page.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

change the gui so that chosen nodes and next nodes onely displays when ther is something to display
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

now sets the technique tab as the default one if no tabs are saved as a cookie.
  frontend/src/components/Common/List/ListAddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed linter errors
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed bug that didnt display the duration of activities with a 1 minute duration
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed so systest works, page is still not working properly tho
  frontend/src/components/Workout/WorkoutActivityListItem/WorkoutActivityListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

refactors Activitylist from AddActivity to its own component
  frontend/src/components/Workout/CreateWorkout/ActivityLists.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed so id is used
  frontend/src/components/Workout/WorkoutActivityListItem/WorkoutActivityListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

switched place on initialPopupStateExercises and on initialPopupStateTechniques so that we fetch the correct json file when downloading exercise and techniques
  frontend/src/components/Admin/Export/Export.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fix so test works with id
  frontend/src/__tests__/components/Workout/WorkoutActivityList/WorkoutActivityListItem.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

made two new folders, renamed files
  frontend/src/components/Common/PermissionCard/PermissionListItem.jsx
  frontend/src/components/Common/PermissionCard/PermissionListItem.module.css
  frontend/src/components/Common/RoleLinkCard/RoleListItemLink.jsx
  frontend/src/components/Common/RoleLinkCard/RoleListItemLink.module.css
  frontend/src/pages/Admin/RoleCreate.jsx
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

removed unused css code
  frontend/src/components/Common/RoleCard/RoleListItem.module.css
  frontend/src/components/Common/RoleLinkCard/RoleListItemLink.module.css
Due: test-linter-frontend, test-frontend, build-frontend

moves fetchingListContent to ActivityLists
  frontend/src/components/Workout/CreateWorkout/ActivityLists.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

add functionality for passing an array of belts
  frontend/SystemTests/PageObjectModels/groupsPage.ts
  frontend/SystemTests/TestFiles/groups.spec.ts
  frontend/SystemTests/Types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

Removed permissions that won't be used from defaults sql and permissionvalidator
  backend/api/src/main/java/se/umu/cs/pvt/PermissionValidator.java
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/PermissionValidator.java
  infra/database/init/defaults/permissions.sql
Due: test-backend, test-database

Added statistics filter to local storage
  backend/api/src/main/java/se/umu/cs/pvt/statistics/BeltSuccession.java
  frontend/src/pages/Statistics/FilterStatistics.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

Removed method for editing a permission.
  backend/api/src/main/java/se/umu/cs/pvt/permission/PermissionController.java
Due: test-backend

removed dummy data for techniquechains
  infra/database/init/01-init.sql
Due: test-database

Removed old fix to break test.
  frontend/src/__tests__/pages/Plan/PlanIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed incorrect import
  frontend/src/pages/Admin/Admin.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added comment
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed the no pair comment error
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed tillfällen permissinon that is not used from database
  infra/database/init/defaults/permissions.sql
Due: test-database

Setup of systest
  frontend/SystemTests/PageObjectModels/duringGradingPage.ts
  frontend/SystemTests/TestFiles/duringGrading.spec.ts
  frontend/SystemTests/Types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

Updated documentation for FilterPlan.
  frontend/src/pages/Plan/FilterPlan.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added basic and black belt techniques to the databse
  infra/database/init/defaults/techniques.sql
Due: test-database

Adds CLI options and local backup saving
  infra/database/backup_db.sh
Due: none

Fixes deprecated comment
  infra/database/backup_db.sh
Due: none

Updated documentation of FilterPlan.
  frontend/src/pages/Plan/FilterPlan.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed error in database and some miss writes
  infra/database/init/defaults/permissions.sql
Due: test-database

added the node_id to the weave representation
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainWeave.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainWeaveRepresentSerializer.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainWeaveSerializer.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueWeaveRepresent.java
Due: test-backend

Added logic for exporting examination result for a individual.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResultRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingExamineePdf.java
Due: test-backend

Removed canCreateSessions function because not used any more
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

changed chcek from canCreateSession to canCreateGroup, group also checks session now
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added rotation to chevron
  frontend/src/components/Plan/SessionContainer.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Some minor fixes
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
