Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Added beta access check for teqhnique chain pages
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveCreate/TechniqueWeaveCreate.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeave_page/TechniqueWeave_page.jsx
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
Due: test-linter-frontend, test-frontend, build-frontend

some codes have been refactorized
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added hasBetaAccess checks to techniquechain/weave pages when accessed directly through url
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveCreate/TechniqueWeaveCreate.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveIndex.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeave_page/TechniqueWeave_page.jsx
  frontend/src/pages/Techniquechain/Techniquechain/Techniquechain.jsx
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed scroll
  frontend/src/components/Common/List/ListAddActivity.jsx
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removes unused and unprofessional images
  infra/database/images/minion.jpg
  infra/database/images/obama.jpg
Due: none

added data to sql init so that ther exists a techniquechain and weave at start
  infra/database/init/01-init.sql
  infra/database/init/defaults/techniqueChain.sql
Due: test-database

Updated bad date.
  backend/api/src/main/java/se/umu/cs/pvt/technique/TechniqueController.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/tag/ExerTagControllerTest.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/tag/TagControllerTest.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/workout/WorkoutApiApplicationTests.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/workout/WorkoutReviewTests.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/workout/ActivityControllerTests.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/exercise/ExerciseApiApplicationTests.java
Due: test-backend

Removed unused imports.
  backend/api/src/test/java/se/umu/cs/pvt/exercise/ExerciseApiApplicationTests.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueApiApplicationTests.java
Due: test-backend

Removed unused imports.
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueApiApplicationTests.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/user/PasswordHashTest.java
Due: test-backend

Updated bad dates.
  backend/api/src/test/java/se/umu/cs/pvt/user/LoginTest.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/user/UpdateUserTest.java
Due: test-backend

Updated bad date.
  backend/api/src/test/java/se/umu/cs/pvt/user/UserApiTest.java
Due: test-backend

lint fixed
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed from 3 to 4
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed pair comments not being dislayed
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed broken deploy prod script
  deploy_prod.sh
Due: none

Fixed the popup functionality
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed the endpoint
  backend/api/src/main/java/se/umu/cs/pvt/user/UserController.java
Due: test-backend

Added missing detach
  deploy_prod.sh
Due: none

Added systest again, accidently removed it
  frontend/SystemTests/PageObjectModels/gradingBeforePage.ts
  frontend/SystemTests/TestFiles/gradingBefore.spec.ts
  frontend/src/components/Common/EditableListItem/EditableListItemGrading.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added a message that makes sense
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed an error in the data in the sql init which has to do with the in_chain table
  infra/database/init/defaults/techniqueChain.sql
Due: test-database

Fixed removed certficate error
  deploy_prod.sh
Due: none

removed system out print
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Removes unused lines and moves variables
  infra/database/backup_db.sh
Due: none

Removed console logs
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removes unused lines and moves variables
  infra/database/restore_db.sh
Due: none
