Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

removed system out print
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Adds author comment
  infra/database/backup_db.sh
  infra/database/restore_db.sh
Due: none

Removed sys out prints
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Fixed bug where no scollbar when many users
  frontend/src/components/Admin/Delete/RoleDelete.jsx
  frontend/src/components/Admin/Delete/RoleDelete.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed lint problem
  frontend/src/components/Admin/Delete/RoleDelete.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed sys out
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

MAJOR CHANGES THIS IS A GAME CGANGER
  frontend/src/components/Common/List/ListAddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so popup no longer shows when refreshing the page when adding an activity and then clicking on the activity
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
  frontend/src/pages/Workout/WorkoutCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

bugfix in techniquechain page, now only displays chain and no other ways, also moving admin button in sidebar
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/components/Common/Navbar/Navbar.module.css
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fix bad merge, missing params.
  frontend/src/components/Common/SearchBar/SearchBarUtils.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed bug where filter on my group
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed sync issue and examinees in pair switching place going from before to during grading
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed tabs not being selected when creating lists, this was caused by a cookie that has the same name as another one in the application
  frontend/src/components/Common/List/ListAddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated user default permissions to be more realistic.
  infra/database/init/defaults/permissions.sql
Due: test-database
