Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=\!TechniqueDatabaseTest

test-database:
  stage: test
  tags:
  - system
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=TechniqueDatabaseTest

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

generate-api-docs:
  stage: docs
  resource_group: deploy
  tags:
  - system
  script:
  - rm -rf /var/www/html/api-docs
  - cd docs/api-docs && mkdocs build -d /var/www/html/api-docs

generate-javadocs:
  stage: docs
  resource_group: deploy
  tags:
  - system
  script:
  - rm -rf /var/www/html/javadocs
  - cd backend
  - mvn javadoc:aggregate
  - mkdir /var/www/html/javadocs
  - cp -r target/site/apidocs/* /var/www/html/javadocs

rebuild-database:
  stage: rebuild_database
  tags:
  - system
  before_script:
  - docker login --username pvt2024 --password $DOCKER_PASS
  script:
  - docker volume rm html_pgdata || true

Changed the error message when creating a new user with same name as someone else
  frontend/src/components/Admin/ManageUser.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added required repository to test class
  backend/api/src/test/java/se/umu/cs/pvt/statistics/StatisticsAPITest.java
Due: test-backend, generate-api-docs, generate-javadocs

fake commit to try pipeline, this merge depends on an earlier merge and I likely tried to do it too quick
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryController.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed so that permissions that are set will have the toggle value changed on the page, problem with the visual part working
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixing linter issues
  frontend/src/components/Grading/GradingProtocolsRows.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so the tags are numbers instead of words in sql file
  infra/database/init/defaults/techniques_2024.sql
Due: test-database, rebuild-database

Fixed fetching of result
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixing small css error in checkbox
  frontend/src/components/Common/CheckBox/CheckBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Working prototype, reads amount of favourited workouts correctly:)
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated grading protocol api to new belt ids
  infra/database/init/defaults/grading_protocols.sql
Due: test-database, rebuild-database

fixed visual problem, next is save and create connection with backend
  frontend/src/pages/Admin/RoleCreate.jsx
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created method for posting multiple permissions for a role, also added more docs
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
Due: test-backend, generate-api-docs, generate-javadocs

reformated some linting problems and added the functionality to add exercises to lists from the exercise page using the menu icon beside each of these
  frontend/src/components/Activity/AddToListPopupContent.jsx
  frontend/src/components/SavedList/AddToListItem.jsx
  frontend/src/pages/Activity/Exercise/ExerciseIndex.jsx
  frontend/src/pages/Activity/Exercise/ExerciseIndex.module.css
  frontend/src/pages/Activity/Technique/TechniqueIndex/TechniqueIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Rework i backend + fixa i frontend
  backend/api/pom.xml
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResultRepository.java
  backend/api/target/classes/application-docker.yml
  backend/api/target/classes/application.yml
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Making some changes to the pdf
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
  infra/fonts/NotoSansMono-Regular.ttf
Due: test-backend, generate-api-docs, generate-javadocs

Passwords slipped through, removed for good now
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Wrote additional system test, testing editing a workout, added an ID to the RoundButton for creating a new workout on the WorkoutIndex page
  frontend/SystemTests/PageObjectModels/workoutPage.ts
  frontend/SystemTests/TestFiles/workout.spec.ts
  frontend/src/pages/Workout/WorkoutIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Working with the new display of grading title
  frontend/src/components/Common/EditableInputTextField/EditableInputTextField.jsx
  frontend/src/components/Common/EditableInputTextField/EditableInputTextField.module.css
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Cleanup in Profile before merge with main, getFavouriteWorkoutsAmount
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Adding some small changes before i try and resolve a file conflict
  frontend/src/components/Common/AddExaminee/AddExaminee.jsx
  frontend/src/components/Common/AddExaminee/AddExaminee.module.css
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingBefore.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added TODOs
  deploy.sh
Due: none

fetches lists correctly from backend
  frontend/src/components/Common/SearchBar/SearchBarUtils.jsx
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed naming conventions in DuringGrading.jsx to camelcase
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed lint error and disabled feat.toggle
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added functionality for reseting the database and composing down old containers
  deploy.sh
Due: none

Removed a semicolon in workout.spec.ts
  frontend/SystemTests/TestFiles/workout.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added more end points in API due to new features in the last step of examination.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResultRepository.java
Due: test-backend, generate-api-docs, generate-javadocs

Removed 2 files that shouldnt be in main
  (Dont)readme
  build 2.sh
Due: none

Refactoring & comments
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added docker rm output to dev null
  deploy.sh
Due: none

Removed docker path from stdout
  deploy.sh
Due: none

Merging in with main
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
  frontend/src/pages/Login/Login.js
  frontend/src/pages/Plan/PlanIndex.jsx
  infra/database/init/defaults/permissions.sql
  infra/database/init/defaults/roles.sql
Due: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

adding new component files
  frontend/src/components/Common/Flowchart/Flowchart.jsx
  frontend/src/components/Common/Flowchart/Flowchart.module.css
  frontend/src/components/Common/Flowchart/FlowchartNode.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Merged index.js
  frontend/src/index.js
Due: test-linter-frontend, test-frontend, build-frontend

Test for ensuring that all Id:s are in the datatabse as they should be prototype
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Created technique page in navbar
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/index.js
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
  frontend/src/pages/Techniquechain/TechniquechainIndex.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added endpoint for getting a grading protocol
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/BeltIdDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/CategoryDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/ExaminationProtocolDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/GradingProtocolDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/TechniqueDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocol.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocolCategory.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocolController.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocolRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocolTechnique.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsRepository.java
  backend/api/src/test/java/se/umu/cs/pvt/statistics/StatisticsAPITest.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed authors for source files
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed index.js
  frontend/src/index.js
Due: test-linter-frontend, test-frontend, build-frontend

Added comment api calls
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*
