Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Removed all old code from utils.js.
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Fixed comments.
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Fixed permissions so some people can edit every workout.
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Changed the function call to send the id not the group.
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated function comment variable name.
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

displays author name
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixes mapping of users
  frontend/src/components/Common/List/ListCreateReducer.js
Due: test-linter-frontend, test-frontend, build-frontend

now able to toggle all items in a list off
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/WorkoutCreateReducer.js
Due: test-linter-frontend, test-frontend, build-frontend

checking a list now to add all content no longer unselects all other activities
  frontend/src/components/Workout/CreateWorkout/WorkoutCreateReducer.js
Due: test-linter-frontend, test-frontend, build-frontend

a variable was set at a faulty place creating a bug
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed linting
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed token in api call
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linting
  frontend/src/components/Workout/CreateWorkout/WorkoutCreateReducer.js
Due: test-linter-frontend, test-frontend, build-frontend

working on technique weaves
  frontend/src/components/Common/Flowchart/Flowchart.jsx
  frontend/src/components/Common/Flowchart/Flowchart.module.css
  frontend/src/components/Common/Flowchart/FlowchartNode.jsx
  frontend/src/components/Common/Flowchart/FlowchartNode.module.css
  frontend/src/components/Workout/CreateWorkout/AddTechnique.jsx
  frontend/src/pages/Techniquechain/TechniqueWeaveCreate/TechniqueWeaveCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

The order icon now resets whenever group activities are fetched
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

a start to going to the correct technique on reload currently not functional
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed waitForEnabled function, aadded a waitFor call in deleteTag function
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

separated admin check from the rest, making it more readable
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Added belt-tag to technique tests
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend

fixed so that createList btn from activities works, made it so that localstorage clears when list is edited/created and removed spinner from addToListPopupContent
  frontend/src/components/Activity/AddToListPopupContent.jsx
  frontend/src/pages/List/ListEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed spinner include
  frontend/src/components/Activity/AddToListPopupContent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed comments and hard-coded test id's
  frontend/src/components/Common/Popup/PopupMini.jsx
  frontend/src/pages/Activity/Exercise/ExerciseDetailMini.jsx
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetailMini.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Rewrote deploy instructions to match the new deploy-script
  deploy.md
Due: none

Dummy change in DB to run DB-test in pipeline
  infra/database/init/defaults/techniques.sql
Due: test-database

Changed deviation checkbox and added comment nr display
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

on final step go to summary when pressing next technique
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Moving fonts to api dir
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
  backend/api/src/main/java/se/umu/cs/pvt/fonts/DroidSans.ttf
  backend/api/src/main/java/se/umu/cs/pvt/fonts/NotoSans-Regular.ttf
  backend/api/src/main/java/se/umu/cs/pvt/fonts/NotoSansMono-Regular.ttf
Due: test-backend

Fixed very small bug unrelated to this branch's bug. The problem was related to permissions in ExerciseDetailsPage.
  frontend/src/pages/Activity/Exercise/ExerciseDetailsPage.jsx
Due: test-linter-frontend, test-frontend, build-frontend

comments to all the api calls
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNode.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeSerializer.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeService.java
  infra/database/init/01-init.sql
  infra/database/init/defaults/techniqueChain.sql
Due: test-backend, test-database

Fixed bug where items in a list with the same name is not unique. Hence not selectable if user want both.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added () around or in if statement to make sure priority is right
  frontend/src/components/Common/CommentSection/CommentSection.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added deploy customer script
  deploy_customer.sh
Due: none

checks if user is admin and fetch all activitylists
  frontend/src/components/Activity/AddToListPopupContent.jsx
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Another unrelated bug in commentsection. Permissionbugg. shout out to team mango.
  frontend/src/components/Common/CommentSection/CommentSection.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed to install unzip instead of zip
  deploy_customer.sh
Due: none

Created method for checking if a users has the admin permission.
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/PermissionValidator.java
Due: test-backend

Updating path to new location
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Fixed so that 'confirmGoBack' clears the localStorage for the listCreateInfoEdit/Create value
  frontend/src/components/Common/List/ListFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Lint prob fix?
  frontend/src/components/Common/List/ListFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Rewrite md
  deploy.md
Due: none
