Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

added popups for technique and exercise descriptions in lists
  frontend/src/components/Common/List/ListAddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/ListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fix indentation.
  frontend/src/components/Common/EditableListItem/EditableListItem.module.css
  package-lock.json
Due: test-linter-frontend, test-frontend, build-frontend

removing doubble group button.
  frontend/src/components/Common/Navbar/Navbar.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixing issue with pdf font and image path
  backend/api/src/main/java/se/umu/cs/pvt/assets/NotoSans-Regular.ttf
  backend/api/src/main/java/se/umu/cs/pvt/assets/ubk-logga.jpg
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Fixed systest
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Adding env to dockerfile
  backend/api/Dockerfile
Due: test-backend

Test pipeline
  frontend/src/pages/Statistics/Statistics.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Removed old user role references from a whole bunch of sites
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchUserDBBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchUserResponseBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/UserDBResult.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/responses/UserSearchResponse.java
  backend/api/src/main/java/se/umu/cs/pvt/search/params/SearchUserParams.java
  backend/api/src/main/java/se/umu/cs/pvt/user/JWTUtil.java
  backend/api/src/main/java/se/umu/cs/pvt/user/User.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserController.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserShort.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListControllerTest.java
  backend/api/src/test/java/se/umu/cs/pvt/search/UserParamsTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/LoginTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UpdateUserTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UserApiTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UserTest.java
  backend/api/src/test/java/se/umu/cs/pvt/workout/detail/WorkoutControllerTest.java
  infra/database/init/01-init.sql
  infra/database/init/defaults/users.sql
Due: test-backend, test-database

Add word wrapping to the technique title.
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetail.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed deploy
  deploy.sh
  nginx/prod_domain/install.sh
Due: none

Solved a bug in preventing workouts from being requested
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchUserDBBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchWorkoutDBBuilder.java
  backend/api/src/test/java/se/umu/cs/pvt/search/UserDBBuilderTest.java
  backend/api/src/test/java/se/umu/cs/pvt/search/WorkoutDBBuilderTest.java
Due: test-backend

switching package to react flow, adding some connections to backend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Common/Flowchart/Flowchart.jsx
  frontend/src/components/Common/Flowchart/FlowchartNode.jsx
  frontend/src/components/Common/Flowchart/FlowchartNode.module.css
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/components/Workout/CreateWorkout/AddTechnique.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveIndex.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveIndex.module.css
  frontend/src/pages/Techniquechain/TechniqueWeaveCreate/TechniqueWeaveCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fix leaving tag popup with close button causing workout to save.
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

created apis to change, add, delete the weave representation table, and some bux fixes
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainChain.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainChainDeserializer.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainChainRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainChainService.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNode.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeSerializer.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeService.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainWeaveDeserializer.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainWeaveRepresentSerializer.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueWeaveRepresent.java
Due: test-backend

change dummy from dummy data to data from the db
  frontend/src/pages/Techniquechain/Techniquechain/Techniquechain.jsx
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

changed sql file for activities
  frontend/src/components/Workout/WorkoutActivityList/WorkoutActivityList.jsx
  frontend/src/components/Workout/WorkoutActivityListItem/WorkoutActivityListItem.jsx
  frontend/src/pages/Workout/WorkoutIndex.jsx
  infra/database/init/defaults/activities.sql
Due: test-linter-frontend, test-database, test-frontend, build-frontend

Removed chevron and removed checker for null on both technique and exercise. added font size in css module
  frontend/src/components/Workout/WorkoutActivityList/WorkoutActivityList.jsx
  frontend/src/components/Workout/WorkoutActivityListItem/WorkoutActivityListItem.jsx
  frontend/src/components/Workout/WorkoutActivityListItem/WorkoutActivityListItem.module.css
Due: test-linter-frontend, test-frontend, build-frontend

removed console.log
  frontend/src/pages/Workout/WorkoutIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Change dummy data to data from db
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeRepository.java
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
  infra/database/init/defaults/techniqueChain.sql
Due: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

code refractoring and change components to sute this application better
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
  frontend/src/components/Common/TechniquechainCard/TechniquechainNode.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

adding new package to handle flowchart, creating custom nodes
  frontend/src/components/Common/Flowchart/Flowchart.jsx
  frontend/src/components/Common/Flowchart/Flowchart.module.css
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/components/Workout/CreateWorkout/AddTechnique.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveIndex.jsx
  frontend/src/pages/Techniquechain/TechniqueWeaveCreate/TechniqueWeaveCreate.jsx
  frontend/src/pages/Techniquechain/TechniqueWeaveCreate/TechniqueWeaveCreate.module.css
Due: test-linter-frontend, test-frontend, build-frontend

adding custom nodes, connections and styling for these
  frontend/src/components/Common/Flowchart/CustomConnectionLine.jsx
  frontend/src/components/Common/Flowchart/CustomNode.jsx
  frontend/src/components/Common/Flowchart/FloatingEdge.jsx
  frontend/src/components/Common/Flowchart/style.css
  frontend/src/components/Common/Flowchart/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Removed USE_IMP_SERVER boolean from the repo
  backend/README.md
  docs/local-dev.md
  frontend/README.md
  frontend/playwright.config.ts
  frontend/src/setupProxy.js
  frontend/vite.config.ts
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

Fixed space to tabs in setupProxy.js
  frontend/src/setupProxy.js
Due: test-linter-frontend, test-frontend, build-frontend

removed old tests and started on new ones
  frontend/src/__tests__/components/Workout/WorkoutActivityList/WorkoutActivityListItem.test.jsx
  frontend/src/components/Workout/WorkoutActivityListItem/WorkoutActivityListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

cahnged so onely admins can see the techniqueChain buttun in the navbar, and removed isEditor from utils
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/pages/Techniquechain/Techniquechain/Techniquechain.jsx
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Tweaking toasts
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Fixed issue with the examinee name geting highlighted when doubelclicking
  frontend/src/components/Grading/PerformGrading/ExamineeBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

added comment
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Added new function to systest
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

removed a redundant try catch
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
Due: test-backend

back button navigation in grading after page and title in grading after
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

The exercises are now unique inside of a lsit making it possible to add the same exercise multiple times if it is in a list.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Arrow/right chevron on exerciselistitem now also redirects to the exercise
  frontend/src/components/Common/ExerciseCard/ExerciseListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed directory for svg src
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed svart to 1 Dan
  frontend/src/components/Common/BeltPicker/BeltPicker.jsx
  infra/database/init/defaults/belts.sql
Due: test-linter-frontend, test-database, test-frontend, build-frontend

Added comment for img src
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Modified the id of EditableListTagItem
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
  frontend/src/components/Common/EditableListTagItem/EditableListTagItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed workout list to use error toast from the project instead of its own defined
  frontend/src/pages/List/FavouriteWorkoutList.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend
