Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Fix
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Fixed endpoint
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Commented out some tests that does not work
  frontend/src/__tests__/components/Common/Tag/AddTagPopup.test.jsx
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added tests for ExamineePairComment fetcher
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend

Updated the mapping for examinee comments and pair comments
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Fixed test
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend

Fixed tests for ExamineePairComments
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend

Permissions are now connected to buttons and chosen permissions are now group when add button is pressed
  frontend/src/index.js
  frontend/src/pages/Admin/RoleCreate.jsx
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added basic test support for database using testcontainers
  backend/api/pom.xml
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend

Fix tag plus icon centering and prevent text behind it.
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/AddTagPopup.module.css
Due: test-linter-frontend, test-frontend, build-frontend

removed console log
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Compleated pair comment endpoint
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Fixed comment.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Fixed css.
  frontend/src/components/Workout/CreateWorkout/AddActivity.module.css
Due: test-linter-frontend, test-frontend, build-frontend

added a template for some tests
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
  infra/database/init/defaults/techniques.sql
Due: test-backend

Fixed so that favorites filter is saved when re-directing
  frontend/src/components/Common/SearchBar/SearchBarUtils.jsx
  frontend/src/pages/Workout/WorkoutIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Change RoundButton dimensions to use rem instead of px.
  frontend/src/components/Common/RoundButton/RoundButton.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added backend functionality for setting a user role id. This is seperate from the user role attribute since earlier but is kept as to not break the entire site.
  backend/api/src/main/java/se/umu/cs/pvt/user/User.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserController.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserShort.java
  backend/api/src/test/java/se/umu/cs/pvt/user/LoginTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UpdateUserTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UserApiTest.java
Due: test-backend

Add padding to ensure that the continue button does not cover tags.
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

sorted list by dates
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
  frontend/sys-test/gradingbefore.spec 2.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added Antons changes to profile.jsx
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated docs
  backend/api/src/main/java/se/umu/cs/pvt/user/User.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserController.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserShort.java
  backend/api/src/test/java/se/umu/cs/pvt/user/LoginTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UpdateUserTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UserApiTest.java
Due: test-backend

Fixed api for role to permissions, and fixed the tests for them
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionRepository.java
  backend/api/src/test/java/se/umu/cs/pvt/permission/RoleToPermissionApiTest.java
Due: test-backend

Fixed bogus fetchedList use case for linter
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed date stamp in comment, and removed redundent code
  backend/api/src/test/java/se/umu/cs/pvt/permission/RoleToPermissionApiTest.java
Due: test-backend

Added tests for 4 belts
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend

Fixed order of activites in stat page
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Modified the test testing our database
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend

Fixed method for findAllByUserid by chaning its retrun value, and made the delete transactinal. Changed comments aswell
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionRepository.java
Due: test-backend

have made a function that will fetch all examination results
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added endpoint for removing a role from a user. This just sets their role id to null.
  backend/api/src/main/java/se/umu/cs/pvt/user/UserController.java
Due: test-backend

comments
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

preversion
  deploy.sh
Due: none

Update UserController.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserController.java
Due: test-backend

Added automatically pair creation when new examinees are added.
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added initial code for fetching specific grading comment based on technique
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

type-o
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend

restore to main
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
Due: test-backend

fixed error when fetching technique step
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added sys-test for yellow protocol flow from start to finish, asserting that the correct techninques are there
  frontend/sys-test/gradingduring.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend
