Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Lint error
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added api docs for activitylistentry endpoints
  docs/api-docs/docs/api/activitylist.md
Due: none

added author comments
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntry.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryRepository.java
Due: test-backend

Temporary change to Profil.test.jsx so that it doesnt excpect to see 'MyGavourites'
  frontend/src/__tests__/Profile/Profile.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

small change to keep consistency
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntry.java
Due: test-backend

Changed boolean to Boolean with big B on one place it was missed. Added test for this mistake
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend

Adding are you sure popup
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/TagInput.jsx
  frontend/src/pages/Activity/Technique/TechniqueEdit/TechniqueEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Modified api request and sql init to make examinee id nullable
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationComment.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  infra/database/init/01-init.sql
Due: test-backend

Created the new sort component, should easily replace old one.
  frontend/src/components/Common/Sorting/NewSorter.jsx
  frontend/src/components/Common/Sorting/NewSorter.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Updated functionality, but now everything is broken.
  frontend/src/components/Plan/GroupPicker.jsx
  frontend/src/pages/Plan/FilterPlan.jsx
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed user to permission controller methods to the corrosponding repository changes
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionController.java
Due: test-backend

fixed linting problems
  frontend/src/components/Common/Sorting/NewSorter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Comment away expect getByText('Mina listor') to be in document since it should be behind feature toggle
  frontend/src/__tests__/Profile/Profile.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removing rouge console.log
  frontend/src/components/Common/Tag/TagInput.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added systest in Playwright for AddTagPopUp, is supposed to replace the unit tests for the component
  frontend/sys-test/addtagpopup.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

fixed an linter error
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added a smaller popup before the user continues with grading
  frontend/src/components/Common/Popup/PopupSmall.jsx
  frontend/src/components/Common/Popup/PopupSmall.module.css
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed query for api request
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

started making the new techniques sql file
  infra/database/init/defaults/techniques_2024.sql
Due: none

Fixed test that failed when we added the feature.
  frontend/src/__tests__/pages/Plan/PlanIndex.test.jsx
  frontend/src/pages/Plan/FilterPlan.jsx
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added author comment
  frontend/src/components/Common/Sorting/NewSorter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Laid groundwork for sorting lists while creating or editing a workout
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added functionality so that different list with different content can be viewed at the same time.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed an unused useState, listContent, that was previously changed to listContents.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

small fixes
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Co-authored-by: lummeo <lummeo@users.noreply.github.com>
  frontend/src/components/Common/Popup/PopupSmall.jsx
  frontend/src/components/Common/Popup/PopupSmall.module.css
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added so that comments and grade are taken from db
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Removed color from result container
  frontend/src/components/Grading/UserBoxGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed so getrows takes maxlength int
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Fixed linter problems
  frontend/src/components/Common/Popup/PopupSmall.jsx
  frontend/src/components/Common/Popup/PopupSmall.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added separate stage for testing the database
  .gitlab-ci.yml
Due: none

Removed whitespaces
  .gitlab-ci.yml
Due: none

Added suppress output to stderr
  .gitlab-ci.yml
Due: none

Changed spaces to tabs for linter
  frontend/src/components/Common/Popup/PopupSmall.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added test for making sure that two protocols are correct during examination
  frontend/sys-test/gradingduring.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Initial commit
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationProtocol.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocolCategory.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocolDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocolTechinque.java
Due: test-backend

Added redirect stderr to stdout
  .gitlab-ci.yml
Due: none

cleaned up pageheigh whatever
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Failed a test because i accidentally changed an id name
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed redirect
  .gitlab-ci.yml
Due: none
