Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

changes so it works in frontend
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed returning 404 not found if list is empty, instead a empty list is returned with code 200/ok
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend, generate-api-docs, generate-javadocs

Small cleanup
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend, generate-api-docs, generate-javadocs

Refactored permission checks and added checks to SessionWorkout.jsx for the sessions in the session list.
  frontend/src/components/Plan/SessionWorkout.jsx
  frontend/src/pages/Plan/PlanIndex.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Tagg
  frontend/src/pages/Workout/WorkoutView/WorkoutView.jsx
  package-lock.json
Due: test-linter-frontend, test-frontend, build-frontend

Fixed documentation for database test
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Changed the name of the tab!
  frontend/src/pages/Activity/Exercise/ExerciseIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added some fixes
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
  frontend/SystemTests/TestFiles/addTagPopup.spec.ts
  frontend/SystemTests/Types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

Rewrote it to erase a lot of bugs
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed infopanel smaller text
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.module.css
Due: test-linter-frontend, test-frontend, build-frontend

feature toggle off, fixed so trash icon doesnt show when inspecting admin role
  frontend/src/pages/Admin/Admin.jsx
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixing technique method name
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend, generate-api-docs, generate-javadocs

Removed extra console log
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

checkbox works, need to implement filtering
  frontend/src/components/Workout/CreateWorkout/ListPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

initial thought of solution of problem
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issues with AccountContext used in utils.js.
  frontend/src/components/Plan/SessionWorkout.jsx
  frontend/src/pages/Plan/PlanIndex.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Apply 1 suggestion(s) to 1 file(s)
  frontend/SystemTests/PageObjectModels/workoutPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Tests shud pass now :)
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added the content for the create chain page
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.module.css
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
Due: test-linter-frontend, test-frontend, build-frontend

trying add a feature so that the user can add more activities during the review of a session
  frontend/public/add_more_icon.svg
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.module.css
  frontend/src/components/Workout/CreateWorkout/ActivityInfoPopUp.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/WorkoutCreateReducer.js
Due: test-linter-frontend, test-frontend, build-frontend

added TODO of upcoming tests
  docs/Chapters/QA/SystemTest/systemTestsCatalog.md
Due: none

Linter issue
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added reset for database every undeploy test server
  .gitlab-ci.yml
Due: none

Fixed bug where selecting a technique deselects a exercise and so on.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added resource group
  .gitlab-ci.yml
Due: none

Added back removed files
  backend/api/target/classes/application-docker.yml
  backend/api/target/classes/application.yml
Due: test-backend, generate-api-docs, generate-javadocs

Added bottom nav bar at bottom, left to fix middle scrollable and good at different screen sizes
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Finished with api-calls in GradingAfter.tsx
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  frontend/src/components/Grading/UserBoxGrading.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Tagg
  frontend/src/pages/Workout/WorkoutView/WorkoutView.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added -q flag to dockerfile.
  backend/api/Dockerfile
Due: test-backend, generate-api-docs, generate-javadocs

Smoeone introduced bug in the statistics, fixed now
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed tests by adding permissions.
  frontend/src/__tests__/components/Plan/SessionWorkout.test.jsx
  frontend/src/__tests__/pages/Workout/WorkoutEdit/WorkoutEdit.test.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter import issue.
  frontend/src/__tests__/pages/Workout/WorkoutEdit/WorkoutEdit.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added some values for use by the filter when the API has been updated
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed edit date.
  backend/api/src/main/java/se/umu/cs/pvt/role/Role.java
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleRepository.java
Due: test-backend, generate-api-docs, generate-javadocs

added functionality for filters in fuzzy searching
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/params/SearchActivityListParams.java
Due: test-backend, generate-api-docs, generate-javadocs

stratin the work with creating technique weaves
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Common/Flowchart/Flowchart.jsx
  frontend/src/components/Common/Flowchart/Flowchart.module.css
  frontend/src/components/Common/Flowchart/FlowchartNode.jsx
  frontend/src/components/Common/Flowchart/FlowchartNode.module.css
  frontend/src/index.js
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveIndex.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveIndex.module.css
  frontend/src/pages/Techniquechain/TechniqueWeaveCreate/TechniqueWeaveCreate.jsx
  frontend/src/pages/Techniquechain/TechniqueWeaveCreate/TechniqueWeaveCreate.module.css
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added ports
  docker-compose-feature.yml
Due: none

before merge..
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend
