Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=\!TechniqueDatabaseTest

test-database:
  stage: test
  tags:
  - system
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend/api
  ...

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

erase id for trash can at group page
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed AdminRoute uses.
  frontend/src/index.js
Due: test-linter-frontend, test-frontend, build-frontend

Updated author info.
  frontend/src/index.js
Due: test-linter-frontend, test-frontend, build-frontend

Removed AdminRoute.jsx, since it is no longer used.
  frontend/src/AdminRoute.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed broken test
  backend/api/src/test/java/se/umu/cs/pvt/search/UserDBBuilderTest.java
Due: test-backend

Changed message from träningen to listan when saving a newly created or edited list
  frontend/src/pages/List/ListEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added functionality for search endpoint to include an exercise or technique id in query to get the number of occurences of that id in the list
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListResponseBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/responses/ActivityListSearchResponse.java
  backend/api/src/main/java/se/umu/cs/pvt/search/params/SearchActivityListParams.java
Due: test-backend

Made all ''alla'' and ''egna'' into bold variants
  frontend/src/components/Common/RoleCard/PermissionListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added frontend support for showing the number of times an acitivity is in a list before adding it to the list.
  frontend/src/components/Activity/AddToListPopupContent.jsx
  frontend/src/components/Common/SearchBar/SearchBarUtils.jsx
  frontend/src/components/SavedList/AddToListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Forgot a comma
  infra/database/init/01-init.sql
Due: test-database

removes unused endpoints for activitylists
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListController.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListControllerTest.java
Due: test-backend

Initial work
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Prevent two exceptions in the tag popup.
  frontend/src/components/Common/EditableListTagItem/EditableListTagItem.jsx
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

returns 204 when list does not exist instead of 403
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
Due: test-backend

Change arguments of tag name updating function.
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

the code for the colors for the first screen where you can see your current gradings have been refactored
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationProtocol.java
  frontend/src/pages/Grading/GradingIndex.jsx
  infra/database/init/01-init.sql
  infra/database/init/defaults/examination_protocols.sql
Due: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

fixed undefined/null causing issues in backend for search api call
  backend/api/src/main/java/se/umu/cs/pvt/search/params/SearchActivityListParams.java
Due: test-backend

Removed css style that prevented text from being dynamic with smaller screen sizes
  frontend/src/components/Common/BeltPicker/BeltPicker.jsx
  frontend/src/components/Common/BeltPicker/BeltPicker.module.css
Due: test-linter-frontend, test-frontend, build-frontend

adding api-calls to store edges and positions
  frontend/src/components/Common/Flowchart/CustomNode.jsx
  frontend/src/components/Common/Flowchart/Flowchart.jsx
  frontend/src/components/Workout/CreateWorkout/AddTechnique.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveIndex.jsx
  frontend/src/pages/Techniquechain/TechniqueWeaveCreate/TechniqueWeaveCreate.jsx
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
  frontend/src/pages/Techniquechain/TechniquechainIndex.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added tests for popup window and id's for tests
  frontend/src/__tests__/components/Workout/WorkoutActivityList/WorkoutActivityListItem.test.jsx
  frontend/src/components/Common/Popup/PopupMini.jsx
  frontend/src/components/Workout/WorkoutActivityListItem/WorkoutActivityListItem.jsx
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetailMini.jsx
Due: test-linter-frontend, test-frontend, build-frontend

bACKbUTTON looks good now, it's fixed with view width
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that the checkbox for (Visa bara tillfällen för mina grupper) is not checked when clicking outside the checkbox.
  frontend/src/pages/Plan/FilterPlan.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added tests that check if the comment button exist in the ExamineeBox, ExamineePairBox, TechniqueInfoPanel
  frontend/src/__tests__/components/Grading/PerformGrading/ExamineeBox.test.jsx
  frontend/src/__tests__/components/Grading/PerformGrading/ExamineePairBox.test.jsx
  frontend/src/__tests__/components/Grading/PerformGrading/TechniqueInfoPanel.test.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

started implementing create chain
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainEdgesRepository.java
  frontend/src/components/Common/TechniquechainCard/TechniquechainNode.jsx
  frontend/src/pages/Techniquechain/Techniquechain/Techniquechain.jsx
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
  infra/database/init/01-init.sql
  infra/database/init/defaults/techniqueChain.sql
Due: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Fixed the frontend
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added more descriptive comments for params in InfiniteScrollComponent
  frontend/src/components/Common/List/InfiniteScrollComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changes made by linter
  frontend/src/__tests__/components/Grading/PerformGrading/ExamineeBox.test.jsx
  frontend/src/__tests__/components/Grading/PerformGrading/ExamineePairBox.test.jsx
  frontend/src/__tests__/components/Grading/PerformGrading/TechniqueInfoPanel.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

now new activities will get marked
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed commented code
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

add functionality for deleting a group and comments
  frontend/SystemTests/PageObjectModels/groupsPage.ts
  frontend/SystemTests/TestFiles/groups.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

comments have updated and newly added activities get marked in the checkbox
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

comments have updated and newly added activities will be marked in the checkbox
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Refactored gradingdeviation code
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

erase old sytem test dir
  frontend/sys-test/gradingbefore.spec 2.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixed lint issues
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed indentation and some comments, first draft
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

some lint related problem has been fixed
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed broken test
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

each permission-card now has a description dropdown
  frontend/src/components/Common/RoleCard/PermissionListItem.jsx
  frontend/src/components/Common/RoleCard/RoleListItem.module.css
  frontend/src/components/Common/ToggleButton/ToggleButton.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
