Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=\!TechniqueDatabaseTest

test-database:
  stage: test
  tags:
  - system
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend/api
  ...

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

Added so if user with permission to only create session for own group can see their groups when creating as session and selecting a group.
  frontend/src/pages/Plan/SessionCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linting
  frontend/src/components/Plan/SessionContainer.jsx
Due: test-linter-frontend, test-frontend, build-frontend

removed the useless console log when creating a list
  frontend/src/pages/List/ListEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

rempved the last session check because not used anymore
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Refactoring some code and removing uncessary lines
  frontend/src/components/Common/EditableListItem/EditableListItemGrading.jsx
  frontend/src/components/Common/Popup/PopupSmall.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Changed cehck to groups instead of session
  frontend/src/components/Plan/SessionWorkout.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed filtering bug for onlyMyGroups and refactored the code a bit.
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added call to export examinee pdf
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/vite.config.ts.timestamp-1716899455634-384b52c8ce334.mjs
Due: test-linter-frontend, test-frontend, build-frontend

fixed popups on stats page
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
  frontend/src/components/Grading/GradingProtocolsRows.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed incorrect indentation
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed to 204 instead of 404 in PlanController.java when there are no groups.
  backend/api/src/main/java/se/umu/cs/pvt/plan/PlanController.java
Due: test-backend

Changed function name to canCreateSessionsAndGroups()
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
  frontend/src/pages/Plan/PlanIndex.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

changed to function name canEditSessionsAndGroups
  frontend/src/__tests__/pages/Group/GroupIndex.test.jsx
  frontend/src/components/Plan/SessionWorkout.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Changed function name canEditSessionsAndGroups
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
  frontend/src/pages/Plan/SessionCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Tried fixing when checking the privat lista checkbox the added user option wpuld dissapear
  frontend/src/components/Common/List/ListFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Started woirking on adding step 4 for grading
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Working restore script (way too verbose)
  infra/database/restore_db.sh
Due: none

Adds comment about container running req.
  infra/database/backup_db.sh
Due: none

Made it so sessionController verifies owner of session/groups that is being added/edited/deleted. Also had to fix up a whole bunch of tests now that the token should be sent in.
  backend/api/src/main/java/se/umu/cs/pvt/session/SessionController.java
  backend/api/src/test/java/se/umu/cs/pvt/session/SessionApiApplicationTests.java
  backend/api/src/test/java/se/umu/cs/pvt/session/SessionControllerAddListTest.java
  backend/api/src/test/java/se/umu/cs/pvt/session/SessionControllerAddTest.java
  backend/api/src/test/java/se/umu/cs/pvt/session/SessionControllerDeleteTest.java
  backend/api/src/test/java/se/umu/cs/pvt/session/SessionControllerGetAllTest.java
  backend/api/src/test/java/se/umu/cs/pvt/session/SessionControllerGetByPlanTest.java
  backend/api/src/test/java/se/umu/cs/pvt/session/SessionControllerUpdateTest.java
  backend/api/src/test/java/se/umu/cs/pvt/session/SessionDeleteByPlanTest.java
Due: test-backend

Adds local file support and clarifies echo
  infra/database/restore_db.sh
Due: none

add comment
  frontend/SystemTests/PageObjectModels/groupsPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

solve problem with dan checkboxes
  frontend/SystemTests/TestFiles/groups.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

solve problem with dan checkboxes
  frontend/SystemTests/Types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

fixed list items not being centered and each item does not take up as much space
  frontend/src/components/Workout/CreateWorkout/ListItem.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed bug with error handling when there are no groups (using new backend HTTP code).
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixes parsing of activities when updating workout
  frontend/src/pages/Workout/WorkoutEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Made sure admin had all permissions
  infra/database/init/defaults/permissions.sql
Due: test-database

Fixed error handling with new error code in GroupIndex.
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Started writing a unit test for SessionReviewComponent
  frontend/src/__tests__/components/Workout/SessionReviewComponent/sessionReviewComponent.test.jsx
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated error handling with new HTTP codes.
  frontend/src/components/Plan/GroupPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so a public list cannot add users that can view it
  frontend/src/components/Common/List/ListFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linting
  frontend/src/components/Common/List/ListFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Reverted test file since PlanIndex is not fixed yet.
  frontend/src/__tests__/pages/Plan/PlanIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue with unused variable.
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added team name to file
  frontend/src/components/Common/List/ListFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added so a user with permission to create sessions for own groups only see their groups when in skapa flera tillfällen. Missed this before
  frontend/src/pages/Plan/SessionsCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed navigation connected to ended grading
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

removed act() call
  frontend/src/__tests__/components/Workout/SessionReviewComponent/sessionReviewComponent.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed techniques.sql, there a index was skipped making the database fail to build
  infra/database/init/defaults/techniques.sql
Due: test-database

Fixed backend tests.
  backend/api/src/test/java/se/umu/cs/pvt/plan/PlanApiApplicationTests.java
Due: test-backend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
