Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

work on filter at workout page
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/ListPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Finalized fixes
  frontend/src/__tests__/components/Grading/GradingDeviationContainer.test.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

CSS for ListItem file.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/ListItem.jsx
  frontend/src/components/Workout/CreateWorkout/ListItem.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Revert "CSS for ListItem file."
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/ListItem.jsx
  frontend/src/components/Workout/CreateWorkout/ListItem.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added resource group systest
  .gitlab-ci.yml
Due: none

CSS file for ListItem
  frontend/src/components/Workout/CreateWorkout/ListItem.module.css
Due: test-linter-frontend, test-frontend, build-frontend

ListItem component visually done.
  frontend/src/components/Workout/CreateWorkout/ListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

can fetch the result from database and filter for the current technique
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added index to make sure the color switches in the list.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

navigation from step 2 to step 3 gets updated
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed frontend tests
  frontend/src/__tests__/components/Grading/GradingDeviationContainer.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that fetch and remove work at the same time:=)
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed the border and outline from the inputbox
  frontend/src/components/Common/EditableInputTextField/EditableInputTextField.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Finished linking backend and frontend for the new mon-categories
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchTechniqueResponseBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/TechniqueDBResult.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/responses/TechniqueSearchResponse.java
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
  frontend/src/components/Plan/BeltBox.jsx
  frontend/src/components/Plan/BeltBox.module.css
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Fixed lint problems...
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed text being written under the plus-sign
  frontend/src/components/Common/AddExaminee/AddExaminee.jsx
  frontend/src/components/Common/AddExaminee/AddExaminee.module.css
Due: test-linter-frontend, test-frontend, build-frontend

small comment corrections
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/ActivityListDBResult.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/responses/ActivityListSearchResponse.java
Due: test-backend, generate-api-docs, generate-javadocs

fixed so that when move back from randori you get to the correct technique
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Clickable buttons that redirects the user to the correct part of the application.
  frontend/src/components/Workout/CreateWorkout/ListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that both fetch lists and getAmountOfFavs work
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Made workout_id nullable to add anonymous activities
  backend/api/src/main/java/se/umu/cs/pvt/workout/Activity.java
  infra/database/init/01-init.sql
Due: test-backend, test-database, generate-api-docs, generate-javadocs, rebuild-database

passed handle navigate to the remove button so that users are navigated to their previous page upon removing a workout
  frontend/src/pages/Workout/WorkoutView/WorkoutView.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added the pencil oppsy
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added systest before merge
  .gitlab-ci.yml
Due: none

small changes
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed some spaces to tabs
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Apply 1 suggestion(s) to 1 file(s)
  docs/Chapters/QA/SystemTest/runSystemTests.md
Due: none

implemented 'notification' icon when comments are added during grading
  frontend/src/components/Grading/PerformGrading/CommentButton.jsx
  frontend/src/components/Grading/PerformGrading/CommentButton.module.css
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added autor comments and fixed activity list display in frontend
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/params/SearchActivityListParams.java
  backend/api/src/main/java/se/umu/cs/pvt/search/persistance/SearchRepository.java
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Removed a letter to fail systests
  frontend/SystemTests/TestFiles/canaryTest.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

change small spelling misstakes
  docs/Chapters/QA/SystemTest/writeSystemTest.md
Due: none

Fixed problems with update methods
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added function defention in APITests
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Final fixes:3
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Documentation
  frontend/src/components/Workout/CreateWorkout/ListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added role to the profile
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed everything :P
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added pages for the technique page and the create techniquechain page
  frontend/src/components/Common/TechniquechainCard/TechniquechainCard.jsx
  frontend/src/index.js
  frontend/src/pages/Techniquechain/Techniquechain/Techniquechain.jsx
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.module.css
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.module.css
Due: test-linter-frontend, test-frontend, build-frontend

fixed linter errors
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Code cleanup, documantion and bug fix
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend, generate-api-docs, generate-javadocs
