Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=\!TechniqueDatabaseTest

test-database:
  stage: test
  tags:
  - system
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend/api
  ...

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

Reworked: Filter testing of statistics
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added header comment and changed the check if user is admin user to new check
  frontend/src/AdminRoute.jsx
Due: test-linter-frontend, test-frontend, build-frontend

wrote basic tests for setting and removing a role from a user
  backend/api/src/test/java/se/umu/cs/pvt/user/UserApiTest.java
Due: test-backend

updated docs and removed unused imports
  backend/api/src/test/java/se/umu/cs/pvt/user/UserApiTest.java
Due: test-backend

Added a endpoint in BeltController + changed logic for displaying belt-color in GradingBefore.
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed test so it uses the new isAdminUser check instead of the old
  frontend/src/__tests__/utils/utils.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Add check if a api call is a GET request, to allow them with out permissions
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
Due: test-backend

Forgot backend..
  backend/api/src/main/java/se/umu/cs/pvt/belt/BeltController.java
Due: test-backend

Created check if a user has permisisons for workout endpoints.
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
Due: test-backend

Added the endpoint for changing permisions for a role to admin end points
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
Due: test-backend

Added api documentation for all endpoints in examination controller.
  docs/api-docs/docs/api/examination.md
  docs/api-docs/docs/index.md
Due: none

Fixed async hell
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated comments with more information about permissions and changed two permission names.
  frontend/src/components/Common/CommentSection/CommentSection.jsx
  frontend/src/pages/Activity/Exercise/ExerciseDetailsPage.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Changed isadmin check to new check
  frontend/src/components/Common/Technique/TechniqueReview/ReviewComment.jsx
Due: test-linter-frontend, test-frontend, build-frontend

conlog.log deleted
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed isAdmin check to new check
  frontend/src/components/Common/Technique/TechniqueReview/ReviewFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed isAdmin check to new check
  frontend/src/components/Workout/WorkoutReview/ReviewComment.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed isAdmin check to new check
  frontend/src/components/Workout/WorkoutReview/ReviewFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that newline is removed
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

New files added from main
  nginx/prod_domain/Dockerfile
  nginx/prod_domain/install.sh
  nginx/prod_domain/prod.conf.template
  nginx/prod_local/Dockerfile
  nginx/prod_local/local.conf
Due: none

Added comments for my changes in these files
  frontend/src/__tests__/utils/utils.test.jsx
  frontend/src/components/Common/Technique/TechniqueReview/ReviewComment.jsx
  frontend/src/components/Common/Technique/TechniqueReview/ReviewFormComponent.jsx
  frontend/src/components/Workout/WorkoutReview/ReviewComment.jsx
  frontend/src/components/Workout/WorkoutReview/ReviewFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added comment and changed check for isAdmin to new check
  frontend/src/pages/Activity/Exercise/ExerciseEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed console.logs()
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added comment and changed check for isAdmin to new check
  frontend/src/pages/Admin/Admin.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added new function that checks for grading permission, updated navbar to include the same check
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Added comment and changed check for isAdmin to new check
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added popup when adding more than 2 people
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added comment and changed check for isAdmin to new check
  frontend/src/pages/Workout/WorkoutView/WorkoutView.jsx
Due: test-linter-frontend, test-frontend, build-frontend

reverting accidental main merge changes
  docker-compose-domain-release.yml
  docker-compose-release.yml
  nginx/prod/Dockerfile
  nginx/prod/install.sh
  nginx/prod/prod.conf.template
Due: none

Fixed bug with duplacited rows in PDF.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

added data fetch promise
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated TODO list in systemTestCatalog.md
  docs/Chapters/QA/SystemTest/systemTestsCatalog.md
Due: none

Fixed bug with color changing from red to green if pressed fast on an examine box that didn't have a result and after switching technique.
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed old deployscript and junk
  build.sh
  infra/deploy.md
  infra/deploy.sh
  infra/media/cat.png
  infra/systest/find-version.sh
  infra/systest/run-new-systests.sh
  infra/systest/run-systest.sh
Due: none

fixed isShared filter retreiving stuff that other filters also did
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
Due: test-backend

Fixed linter
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed editor test because editor do not exist with new permissions
  frontend/src/__tests__/utils/utils.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed lint problem
  frontend/src/__tests__/utils/utils.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated permission name in tests (forgot to save the file).
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added filter functionality for admins
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
Due: test-backend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
