Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=\!TechniqueDatabaseTest

test-database:
  stage: test
  tags:
  - system
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend/api
  ...

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

Added forgotten author info.
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed a CSS bug due to a typo.
  frontend/src/components/Forms/PlanForm.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Refactored PlanIndex.
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed deviation problem on iphone res
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed error handling when there are no groups.
  frontend/src/pages/Plan/SessionCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

bug fix
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListResponseBuilder.java
Due: test-backend

Fixed media docker compose
  .gitlab-ci.yml
  deploy.sh
  deploy_prod.sh
  docker-compose.yml
Due: none

Updated HTTP code to macro.
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed deploy script
  deploy_prod.sh
Due: none

added error checks when creating a new chain, no message when somting is wrong nothing happens
  frontend/src/pages/Techniquechain/Techniquechain_create/TechniquechainCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated HTTP code to macro.
  frontend/src/pages/Grading/GradingCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed tests so that it works with new implementation
  frontend/src/__tests__/components/Grading/PerformGrading/ExamineeBox.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated comment to explain what 404 is.
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated HTTP status codes to macros.
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Hope scroll after removal of group is fixed
  frontend/src/pages/Plan/EditGroup/EditGroup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fix linter issue
  frontend/src/pages/Plan/EditGroup/EditGroup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

replaces == to equals to solve bug when comparing ids
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListResponseBuilder.java
Due: test-backend

set the css for the usericon as 48px instead of 80%
  frontend/src/components/Common/Navbar/Navbar.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Removed bug fix that i thought fixed it, but did not
  frontend/src/pages/Plan/EditGroup/EditGroup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

change the filtering for displaying a chain in the parent weave
  frontend/src/pages/Techniquechain/Techniquechain_page/Techniquechain_page.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed readme
  infra/database/README.md
Due: none

Fixed bug with review button showing even without permissions for techniques.
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetail.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed bug on workout page with review button showing even when permissions are missing.
  frontend/src/pages/Workout/WorkoutView/WorkoutView.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue.
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetail.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue by passing context as a parameter.
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetail.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
