Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=\!TechniqueDatabaseTest

test-database:
  stage: test
  tags:
  - system
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=TechniqueDatabaseTest

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

generate-api-docs:
  stage: docs
  resource_group: deploy
  tags:
  - system
  script:
  - rm -rf /var/www/html/api-docs
  - cd docs/api-docs && mkdocs build -d /var/www/html/api-docs

generate-javadocs:
  stage: docs
  resource_group: deploy
  tags:
  - system
  script:
  - rm -rf /var/www/html/javadocs
  - cd backend
  - mvn javadoc:aggregate
  - mkdir /var/www/html/javadocs
  - cp -r target/site/apidocs/* /var/www/html/javadocs

rebuild-database:
  stage: rebuild_database
  tags:
  - system
  before_script:
  - docker login --username pvt2024 --password $DOCKER_PASS
  script:
  - docker volume rm html_pgdata || true

Added grading protocol endpoint
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocol.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocolCategory.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocolController.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocolRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/GradingProtocolTechnique.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocolDTO/GradingProtocolCategoryDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocolDTO/GradingProtocolDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocolDTO/GradingProtocolTechinqueDTO.java
  docs/api-docs/docs/api/gradingprotocol.md
  docs/api-docs/docs/api/statistics.md
Due: test-backend, generate-api-docs, generate-javadocs

Added functionality to remove a list from listInfo
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added searchListParam file
  backend/api/src/main/java/se/umu/cs/pvt/search/params/SearchListParams.java
Due: test-backend, generate-api-docs, generate-javadocs

Added newline to end of file:)
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

create documentation for how to run tests
  docs/Chapters/QA/SystemTest/runSystemTests.md
Due: none

added author comments and response builder
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListResponseBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/ActivityListDBResult.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/responses/ActivityListSearchResponse.java
Due: test-backend, generate-api-docs, generate-javadocs

Modified the tests to actually test techniques in the grading protocol
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
  infra/database/init/defaults/techniques.sql
Due: test-backend, test-database, generate-api-docs, generate-javadocs, rebuild-database

Fixed inverted <
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
Due: test-backend, generate-api-docs, generate-javadocs

update guide for writing system tests
  docs/Chapters/QA/SystemTest/writeSystemTest.md
Due: none

Removed tests that no longed applied to the statistics API
  backend/api/src/test/java/se/umu/cs/pvt/statistics/StatisticsAPITest.java
Due: test-backend, generate-api-docs, generate-javadocs

Updated for latest deploy.sh
  deploy_prod.sh
Due: none

Removed old comment
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

create a separate file about systest for QA
  docs/Chapters/QA/SystemTest/understandingPlaywright.md
Due: none

The grading title can now be modified and are shown correctly
  frontend/src/components/Common/EditableInputTextField/EditableInputTextField.jsx
  frontend/src/components/Common/EditableInputTextField/EditableInputTextField.module.css
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed tests AGAIN
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

add documentation for created system tests
  docs/Chapters/QA/SystemTest/oldFile.md
  docs/Chapters/QA/SystemTest/systemTestsCatalog.md
  docs/Chapters/QA/Systemtest.md
Due: none

updated comments
  frontend/SystemTests/fixtures.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixed AddTagPopupTest
  frontend/src/__tests__/components/Common/Tag/AddTagPopup.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added title in the test for gradings
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Added functional comment api calls, most is working now
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Minor changes
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed merge problems from GitLab
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixes query sting
  frontend/src/components/Common/SearchBar/SearchBarUtils.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changes route for ListEdit
  frontend/src/index.js
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Now able to sort by Mina - Delade - Publika.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

setup backend for fuzzysearch
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/persistance/SearchRepository.java
  frontend/src/components/Common/SearchBar/SearchBarUtils.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

More work on grading popup, it now calls its proper API and no mocked data
  frontend/src/components/Grading/GradingProtocolsRowsMenu.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added env from ci variable
  .gitlab-ci.yml
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Newlines
  infra/database/init/01-init.sql
Due: test-database, rebuild-database

Fixed a test and added permission list macro for testing purposes with the new permission code.
  frontend/src/__tests__/pages/Workout/WorkoutEdit/WorkoutEdit.test.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

stupid
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

added a try catch when editing a roles permissions to return an error code if the admin permission is being removed from the admin role
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
  infra/database/init/01-init.sql
Due: test-backend, test-database, generate-api-docs, generate-javadocs, rebuild-database

changed error code
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
Due: test-backend, generate-api-docs, generate-javadocs

Added a way to update an existing comment on an examinee
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Fixed bug with underscore in endpoint examresult
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed POST and put for examineeResult. Not implemnented with code from load so not working fuylly
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed technique_name from a path variable to a request param in get exam result/gradingId
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed linting problem
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added the changes to make our tests work in CI-pipeline (which were made in main)
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
  z_changes-newbelt.md
  zkladd.md
Due: test-backend, generate-api-docs, generate-javadocs

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*
