Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

Running ONLY setup
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Changed return values of postUserPermissoin and deleteUserPermissoin and fixed their corrosponding tests
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionController.java
  backend/api/src/test/java/se/umu/cs/pvt/permission/UsersToPermissionApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Increasing time for startup-creation
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Readding the tests
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Removed Nofail if no test are ran
  .gitlab-ci.yml
Due: none

Making a change that *will* break things, tests should fail on the pipeline
  infra/database/init/defaults/belts.sql
Due: test-database, rebuild-database

stashing to switch branch
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

'belt.sql' is reverted to its proper state
  infra/database/init/defaults/belts.sql
Due: test-database, rebuild-database

changes so jest doesn't run system tests
  frontend/.eslintrc.json
  frontend/SystemTests/TestFiles/addtagpopup.spec.ts
  frontend/SystemTests/TestFiles/gradingBefore.spec.ts
  frontend/package.json
Due: test-linter-frontend, test-frontend, build-frontend

Documentation/cleanup
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Changed typo in method name
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermission.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
  backend/api/src/test/java/se/umu/cs/pvt/permission/RoleToPermissionApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Working on grading staticsics popup
  frontend/src/__tests__/pages/Statistics/__snapshots__/StatisticsIndex.test.jsx.snap
  frontend/src/components/Grading/GradingProtocolsRows.jsx
  frontend/src/components/Grading/GradingProtocolsRows.module.css
  frontend/src/components/Grading/GradingProtocolsRowsMenu.jsx
  frontend/src/components/Grading/GradingProtocolsRowsMenu.module.css
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed stupid list
  docs/api-docs/docs/api/activityList.md
  docs/api-docs/docs/api/activitylist.md
Due: none

Changed class documentaiton
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermission.java
Due: test-backend, generate-api-docs, generate-javadocs

Added class documentation
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermission.java
Due: test-backend, generate-api-docs, generate-javadocs

Removed comment that is not in use.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added test comments and file comments to the systest
  frontend/sys-test/gradingduring.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

fixed linter issues
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Hopefully linter issue fixed
  frontend/src/components/Grading/GradingProtocolsRows.jsx
  frontend/src/components/Grading/GradingProtocolsRowsMenu.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed testcontainers dependency
  backend/api/Dockerfile
Due: test-backend, generate-api-docs, generate-javadocs

tried same again
  backend/api/Dockerfile
Due: test-backend, generate-api-docs, generate-javadocs

adding to mvn clean aswell
  backend/api/Dockerfile
Due: test-backend, generate-api-docs, generate-javadocs

fix test :)
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed comment position and adding font
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
  backend/api/src/main/java/se/umu/cs/pvt/export/GradingExportController.java
  infra/fonts/NotoSans-Regular.ttf
Due: test-backend, generate-api-docs, generate-javadocs

adds findAllSharedWithUser to be able to fetch ActivityLists that other users have shared with user
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
Due: test-backend, generate-api-docs, generate-javadocs

Added exclusion
  backend/api/pom.xml
Due: test-backend, generate-api-docs, generate-javadocs

revmoed folder
  frontend/src/__tests__/pages/Statistics/__snapshots__/StatisticsIndex.test.jsx.snap
Due: test-linter-frontend, test-frontend, build-frontend

Added exclusions
  backend/api/pom.xml
Due: test-backend, generate-api-docs, generate-javadocs

Removed from Dockerfile
  backend/api/Dockerfile
Due: test-backend, generate-api-docs, generate-javadocs

temporalily removed starFill for testing
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fetch lists from backend and implement search functionality in AddToListPopupContent.jsx
  frontend/src/components/Activity/AddToListPopupContent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added some endpoints...
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/Examinee.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExamineePair.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExamineeRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/Grading.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/GradingRepository.java
Due: test-backend, generate-api-docs, generate-javadocs

removed a console log that shouldn't be there
  frontend/src/components/Activity/AddToListPopupContent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added exclusion in pom
  backend/api/pom.xml
Due: test-backend, generate-api-docs, generate-javadocs

fixed faulty variable name
  frontend/src/components/Activity/AddToListPopupContent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed all test in maven install
  backend/api/pom.xml
Due: test-backend, generate-api-docs, generate-javadocs

idk anymore
  backend/api/Dockerfile
Due: test-backend, generate-api-docs, generate-javadocs

Added more techniques in sql file and matched them with belt id's
  infra/database/init/defaults/belts.sql
  infra/database/init/defaults/techniques_2024.sql
Due: test-database, rebuild-database

Put seems to work now, needs more check
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Techniques now get displayed in popup, missing belt colors tho
  frontend/src/components/Grading/GradingProtocolsRows.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend
