Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

some changes towards being able to save the activity.
  frontend/src/components/Activity/AddToListPopupContent.jsx
  frontend/src/components/SavedList/AddToListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed error
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

initial test of api endpoint from frontend
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Uncommented test case that was previously broken
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

update step
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Put and post on examineeResult update is working, no tests
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

moved systests to new location
  frontend/SystemTests/TestFiles/gradingduring.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

now saves which list-checkboxes are selected in a state to later be used when putting the activity into the lists
  frontend/src/components/Activity/AddToListPopupContent.jsx
  frontend/src/components/SavedList/AddToListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed linter errors
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Made som cleanup on comments
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed lint
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed api request for posting comments to database, added parameters to make it possible to add these.
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added npx plawright install to pipeline systest.
  .gitlab-ci.yml
Due: none

Working on new component for editing the grading name
  backend/api/src/main/java/se/umu/cs/pvt/examination/Grading.java
  frontend/src/components/Common/EditableInputTextField/EditableInputTextField.jsx
  frontend/src/components/Common/EditableInputTextField/EditableInputTextField.module.css
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingCreate.jsx
  infra/database/init/01-init.sql
Due: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

might have fixed favourite icon svg problem
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added new tables to database
  infra/database/init/01-init.sql
  infra/database/init/defaults/grading_protocols.sql
Due: test-database, rebuild-database

Add whitespace
  infra/database/init/01-init.sql
Due: test-database, rebuild-database

Making the items unique in the list.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added npm install to pipeline
  .gitlab-ci.yml
Due: none

added duration to entries
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Activity.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityList.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntry.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/ActivityListDTO.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed infopanel padding
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed padding examineePairBox
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

implemented a post to add activites to lists
  frontend/src/components/Activity/AddToListPopupContent.jsx
  frontend/src/pages/Activity/Technique/TechniqueIndex/TechniqueIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed the tagname size
  frontend/src/components/Common/Popup/Popup.jsx
  frontend/src/components/Common/Tag/TagInput.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed padding in examineebox so that they are limited by comment button
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeBox.module.css
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed bug :)
  frontend/src/components/Plan/SessionWorkout.jsx
  frontend/src/pages/Workout/WorkoutIndex.jsx
  frontend/src/pages/Workout/WorkoutView/WorkoutView.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed space for pairinfo, size is set primarly to pairinfo and examinebok takes rest of whats left
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added more tags to the techniques id's in the sql file.
  infra/database/init/defaults/techniques_2024.sql
Due: test-database, rebuild-database

Added spinner to AddTagPopup when loading tags
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixes filtering getting ActivityLists in endpoint /api/activitylists/
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListServiceTest.java
Due: test-backend, generate-api-docs, generate-javadocs

completed functionality of duration field when adding, editing and getting activity lists and entries
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntry.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryController.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed so that if a technique is in a list it gets the correct path to the technique-site.
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Revert "Fixed so that if a technique is in a list it gets the correct path to the technique-site."
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

finalized functionality at the frontend to add a technique to lists, TODO: do the same with exercise
  frontend/src/components/Activity/AddToListPopupContent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed camel_case to snake_case.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationComment.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationProtocol.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/Examinee.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExamineePair.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/Grading.java
  frontend/src/pages/Grading/GradingCreate.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Space for pairBox ok on both Iphone SE and 14pro
  frontend/src/components/Grading/PerformGrading/ExamineeBox.module.css
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that if a technique is in a list it gets the correct path to the technique-site.
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Refactoring
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that the navigation from "Aktivitet+" gets to the correct technique page.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed from snake case to camelcase
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend
