Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Fixed error serving docs
  docs/api-docs/docs/api/gradingprotocol.md
  docs/api-docs/docs/api/statistics.md
Due: none

Fixed so you can only see the checkbox if there are more than 2 solo examinees
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added author and date to workoutPage and workout.spec.ts
  docs/Chapters/QA/SystemTest/writeSystemTest.md
  frontend/SystemTests/PageObjectModels/workoutPage.ts
  frontend/SystemTests/TestFiles/workout.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

filtering now fully implemented via frontend at workout create. Fixed the bug making AddActivity not to see which filters are activated
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/ListPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linting problems
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed more linting problems
  frontend/src/components/Workout/CreateWorkout/ListPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed ci script
  .gitlab-ci.yml
Due: none

Tried to fix lint issues
  frontend/src/__tests__/components/Common/EditableInputTextField/EditableInputTextField.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed check for editing and deleting exercie to new check
  frontend/src/pages/Activity/Exercise/ExerciseDetailsPage.jsx
Due: test-linter-frontend, test-frontend, build-frontend

exchanged TextArea component as character count caused too much troubles.
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeBox.module.css
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.module.css
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Add username to AccountContext.
  frontend/src/context.js
  frontend/src/index.js
Due: test-linter-frontend, test-frontend, build-frontend

Changed check for adding exercise to new check
  frontend/src/pages/Activity/Exercise/ExerciseIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

New try woth another wait
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Before merge..
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed an error in react from NewSorter, items did not have an unique id
  frontend/src/components/Common/Sorting/NewSorter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added comment that team mango has edited these files
  frontend/src/pages/Activity/Exercise/ExerciseDetailsPage.jsx
  frontend/src/pages/Activity/Exercise/ExerciseIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added so that systest runs on test enviroment as it was before
  .gitlab-ci.yml
Due: none

Fixed to align the search icon and add button to the center in both Safari and Chrome
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/AddTagPopup.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Extracted some methods for readability and future work.
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
Due: test-backend

Readd padding to ensure that the continue button does not cover tags.
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed fetch after endpoint was changed. Now fetches the users own lists and they are able to search these.
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added final changes to test
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
  frontend/SystemTests/TestFiles/addTagPopup.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Changed test so admin have all permissions according to the new permission system and added missing head comment in the file
  frontend/src/__tests__/pages/ExerciseIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

activated the feature toggle once again
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added description of the edit workout test
  docs/Chapters/QA/SystemTest/systemTestsCatalog.md
Due: none

Fixed comment bug where it disappears for a second when loading in after discarding.
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

activity id added by calling api and so on
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added new files for description popup
  frontend/src/components/Common/Popup/PopupMini.jsx
  frontend/src/components/Common/Popup/PopupMini.module.css
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetailMini.jsx
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetailMini.module.css
Due: test-linter-frontend, test-frontend, build-frontend

fixed bug with mulitple results being added to the DB when clicking fast
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added spinner on initial load, and spinner when moving pages during grading
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed lists being fetched when someone searches in mina pass
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added permission checks for plan endpoints
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
Due: test-backend

Added grading_protocols.sql
  infra/database/init/defaults/grading_protocols.sql
Due: test-database

Added longer name for the key for such elements
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed the rotating button that was really behaving strange.
  frontend/src/components/Common/List/Dropdown.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Correctly adds the activities.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed carousel.png
  carousel.png
Due: none

fixed linting
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed error after conflict
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed the bug, forgoted to add isLocked when pair was removed
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend
