Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

added some WIP tests
  backend/api/src/test/java/se/umu/cs/pvt/permission/PermissionApiTest.java
Due: test-backend

Further fixed statistics popup test to look for an appropriate string
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed certificate generation
  deploy.sh
  docker-compose-domain-release.yml
  nginx/prod.conf.template
Due: none

Cleaning up code
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Fixed so that search text is set and saved when search bar is used
  frontend/src/pages/Workout/WorkoutIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed logic for API connected to table examinee_comment
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationComment.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Added seamingly useless condition to fix searching?
  frontend/src/components/Common/List/InfiniteScrollComponent.jsx
  frontend/src/components/Workout/CreateWorkout/ActivityInfoPopUp.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

updated the css for the ExamineeBoxPair
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Switching branch
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
Due: test-backend

Fixed correct conditional for search in infinitescrollComponent
  frontend/src/components/Common/List/InfiniteScrollComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed bug and changed resizing of the popup page
  frontend/src/components/Common/BeltColorChart/BeltColorChart.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added local docker deploy.
  deploy.sh
  docker-compose-release.yml
  nginx/local/Dockerfile
  nginx/local/local.conf
Due: none

Tried fixing local.conf.
  nginx/local/local.conf
Due: none

Changed text sizes
  frontend/src/components/Common/BeltColorChart/BeltColorChart.module.css
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

adds exercise type
  frontend/sys-test/types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

Linter issues
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed local config.
  nginx/local/Dockerfile
  nginx/local/local.conf
Due: none

Added some CSS changes and small code improvement
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so title is showing for editing techniques
  frontend/src/pages/Activity/Technique/TechniqueEdit/TechniqueEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created new list items for roles and permission (may have to be refactored) as well as a page for role details, feature toggle on the role-tab until backend is ready
  frontend/src/components/Common/RoleCard/PermissionListItem.jsx
  frontend/src/index.js
  frontend/src/pages/Admin/Admin.jsx
  frontend/src/pages/Admin/RoleDetailPage.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Should be working as intended with the api requests, also added a small test
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
  infra/database/init/01-init.sql
Due: test-backend

removed unused import
  frontend/src/index.js
Due: test-linter-frontend, test-frontend, build-frontend

role-tab feature toggled off
  frontend/src/pages/Admin/Admin.jsx
Due: test-linter-frontend, test-frontend, build-frontend

resolved merge conflicts
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
Due: test-backend

Made test for getting permission from id and some more endpoints
  backend/api/src/main/java/se/umu/cs/pvt/permission/PermissionController.java
  backend/api/src/test/java/se/umu/cs/pvt/permission/PermissionApiTest.java
Due: test-backend

Created the function 'getRole' that fetches a specific role
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
Due: test-backend

added one more assert to make sure test really works
  backend/api/src/test/java/se/umu/cs/pvt/permission/PermissionApiTest.java
Due: test-backend

Added component so editing name of tags is possible
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/Examinee.jsx
  frontend/src/components/Common/Tag/Examinee.module.css
  frontend/src/components/Common/Tag/Taglist.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed unused import
  backend/api/src/main/java/se/umu/cs/pvt/permission/PermissionController.java
Due: test-backend

Removed unused import
  backend/api/src/main/java/se/umu/cs/pvt/permission/Permission.java
Due: test-backend

fixed css styling for the bottom buttons as well as displaying the techniques when the Tekniker button is pressed
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
  frontend/src/pages/Grading/During/yellowProtocolTemp.json
Due: test-linter-frontend, test-frontend, build-frontend

Fixed get role with specific id endpoint and added endpoint to create a new role. This is not yet tested
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
Due: test-backend

Removed redundant code
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed icon
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created function for removing a role by id
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
Due: test-backend

Fixed issues with linter
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Created function for updating a role
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
Due: test-backend

Changed indentation
  nginx/prod.conf.template
Due: none

created java class for grading protocol
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationProtocol.java
  infra/database/init/01-init.sql
Due: test-backend

Fixed so it is not possible to add illegal tags
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend
