Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

Fixed linter problems
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Started working on the Jest test again
  frontend/src/__tests__/components/Common/Tag/AddTagPopup.test.jsx
  frontend/src/__tests__/components/Common/Tag/TagInput.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed unused console loggers
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Start of a new component.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/ListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added -p yotei for all docker composes
  deploy.sh
Due: none

Added cronjob for certification renewal
  deploy.sh
Due: none

Some changes to get the database to build proper
  infra/database/init/defaults/techniques.sql
Due: test-database, rebuild-database

Changed init-script to make ex start from id 1000
  infra/database/init/01-init.sql
Due: test-database, rebuild-database

Added append for crontab instead of overwriting old
  deploy.sh
Due: none

Added pipe of stderr to dev null for crontab -l
  deploy.sh
Due: none

added api docs for activityListEntry
  docs/api-docs/docs/api/activitylist.md
Due: none

Fixed exercise id for new technique system
  infra/database/init/defaults/activities.sql
Due: test-database, rebuild-database

Manually changed all the IDs in ex.sql..
  infra/database/init/defaults/exercises.sql
Due: test-database, rebuild-database

Fixed exercise id for new technique system
  infra/database/init/defaults/activitylists.sql
Due: test-database, rebuild-database

Removed a suspicious console log
  frontend/src/components/Workout/CreateWorkout/ActivityListComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

navigation for if you have current gradings or not
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

displays info about list in ListInfo
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/index.js
  frontend/src/pages/List/ListInfo.jsx
  frontend/src/pages/Profile/Profile.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Added check for if create session button should be shown in PlanIndex.
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Successfully seperated the ListItem from AddActivity
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/ListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

feature toggle on
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added a trigger to make sure there is always one user with the admin role
  infra/database/init/01-init.sql
Due: test-database, rebuild-database

Fixed if statement
  deploy.sh
Due: none

navigation if user has earlier gradings or not
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created method for adding a list of role permission pairs, and editing a roles permissions.
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
Due: test-backend, generate-api-docs, generate-javadocs

Modified endpoint for nullable checks.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Fixed the bug with not being able to edit a session with no workouts set.
  frontend/src/pages/Plan/SessionEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added placeholder function for pair comments
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Refactorized StaticisIndex and working on grading popup
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Code cleanup and fixing pair comments aswell as examinee comments
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationProtocolRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend, generate-api-docs, generate-javadocs

Minor code cleanup
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend, generate-api-docs, generate-javadocs

Added trigger to prevent admin role from losing admin permission
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
  infra/database/init/01-init.sql
Due: test-backend, test-database, generate-api-docs, generate-javadocs, rebuild-database

Removing debug prints
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend, generate-api-docs, generate-javadocs

Some more code cleanup
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend, generate-api-docs, generate-javadocs

Changed how the tests occur
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Added tag instead of latest for release
  docker-compose-release.yml
Due: none

Changed tests for datatbase to work with new technique system
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Finalized update for DB test to new technique test
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

added entities for dbresult and search response
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/ActivityListDBResult.java
  backend/api/src/main/java/se/umu/cs/pvt/search/interfaces/responses/ActivityListSearchResponse.java
Due: test-backend, generate-api-docs, generate-javadocs

added new techniqueCard component
  frontend/src/components/Common/TechniquechainCard/TechniquechainCard.jsx
  frontend/src/components/Common/TechniquechainCard/techniquechainCard.module.css
  frontend/src/pages/Techniquechain/Techniquechain/Techniquechain.jsx
  frontend/src/pages/Techniquechain/Techniquechain/Techniquechain.module.css
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed date for roleToPermissoinsController
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
Due: test-backend, generate-api-docs, generate-javadocs
