Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Checked the checkbox for checking so it can't be checked while two checkboxes are checked so no check is checked
  frontend/src/components/Common/CheckBox/GradingCheckBox.jsx
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed isAdmin to static, and removed old role system check in auth filter.
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/PermissionValidator.java
Due: test-backend

fixes navigation back to profile
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixes navigation back to profile
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Merge errors, starting to fix it
  frontend/src/components/Activity/AddToListPopupContent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Adjusted height of all comment boxes during examination so the buttons at the bottom of the window are not coverd.
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed bug where delete button would be disabled even if response was okay
  frontend/src/components/Admin/Delete/RoleDelete.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed colors not updating at all. Unused function call was the reason
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added changes i accidentaly removed with merge:)
  frontend/src/components/Activity/AddToListPopupContent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed to sending the http method instead of the request to isAuthorized method.
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
Due: test-backend

Pop-up showing when deleting grading
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added some waitFrs
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixed bug with deploy customer script
  deploy_customer.sh
Due: none

Removed Session own and grading own from permisisons list.
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/PermissionValidator.java
Due: test-backend

Changed zip to unzip in markdown
  deploy.md
Due: none

Fixed lock icon and fixed bug with editing examinee not working as it should
  frontend/src/components/Common/AddExaminee/AddExaminee.jsx
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingBefore.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added new field to json
  backend/api/src/main/java/se/umu/cs/pvt/belt/Belt.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocolDTO/GradingProtocolTechinqueDTO.java
Due: test-backend

Fixed linting problems
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed popups in groups statistics page for techniques and exercises
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Started work on removing all uses of the old role system. WIP
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/user/JWTUtil.java
  backend/api/src/main/java/se/umu/cs/pvt/workout/WorkoutController.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListControllerTest.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListEntryControllerTest.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListServiceTest.java
  backend/api/src/test/java/se/umu/cs/pvt/workout/detail/WorkoutControllerTest.java
  frontend/src/__tests__/components/Plan/SessionWorkout.test.jsx
  frontend/src/__tests__/components/Workout/ReviewComponent.test.jsx
  frontend/src/__tests__/pages/ExerciseIndex.test.jsx
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
  frontend/src/__tests__/pages/Technique/TechniqueIndex/TechniqueIndex.test.jsx
  frontend/src/__tests__/pages/Workout/WorkoutEdit/WorkoutEdit.test.jsx
  frontend/src/__tests__/utils/utils.test.jsx
  frontend/src/context.js
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

added test for onclick function
  frontend/src/__tests__/components/Grading/PerformGrading/ExamineeBox.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed commented out code and updated comments
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

change some apis
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNode.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeSerializer.java
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainNodeService.java
Due: test-backend

removed unused import
  frontend/src/__tests__/utils/utils.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added documentation in catalog
  docs/Chapters/QA/SystemTest/systemTestsCatalog.md
Due: none

Removed permissions that has been removed from database
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Fixed missing variable after merge conflict
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed unused permissions from database
  infra/database/init/defaults/permissions.sql
Due: test-database

Added padding to the numbers so they are aligned correctly
  frontend/src/components/Common/EditableListItem/EditableListItem.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added comment
  infra/database/init/defaults/permissions.sql
Due: test-database

Updated systemTestsCatalog.md with a TODO list of tests
  docs/Chapters/QA/SystemTest/systemTestsCatalog.md
Due: none

added checks if user has permission when entering url manually, also fixed tests that broke
  frontend/src/__tests__/pages/Grading/GradingBefore.test.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

set up skeleton for group tests
  frontend/SystemTests/PageObjectModels/groupsPage.ts
  frontend/SystemTests/TestFiles/groups.spec.ts
  frontend/SystemTests/Types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added chmod to deploy.sh
  deploy.md
  deploy_customer.sh
Due: none

Fixed a new component to avoid systemstest crashing
  frontend/src/components/Common/EditableListItem/EditableListItemGrading.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Rewrote port forwarding
  deploy.md
Due: none

fixed so that the correct technique is shown when reloading the page
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed not exixting permissions from list
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

fixed small mistake on one of the checks
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend
