Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

Removed old debug console.logs
  frontend/src/components/Common/List/ListAddActivity.jsx
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Revert "Fixed small CSS mistakes in GradingBefore"
  frontend/src/components/Common/EditableListItem/EditableListItem.module.css
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingBefore.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Implented sorting by date, both ways and updated the sorting to work with the new api call
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Commented out legacy code:p
  frontend/src/components/Common/List/ListCreateReducer.js
Due: test-linter-frontend, test-frontend, build-frontend

Frontend filtering works with the soon implemented API from backend
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

change test name to be more specific
  frontend/SystemTests/TestFiles/technique.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added tips section to writeSystemTest.md, fixed Edit workout test to accept and use input instead of hardcoded string
  docs/Chapters/QA/SystemTest/writeSystemTest.md
  frontend/SystemTests/PageObjectModels/workoutPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

fixed connection between manageuser and roll tabs, now ready for permission purge
  frontend/src/components/Admin/ManageUser.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed gateway permission checks to use pattern checking. Needs to be tested still.
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
Due: test-backend, generate-javadocs

Added deps install to playright
  .gitlab-ci.yml
Due: none

removed a temporary console log
  frontend/src/components/Workout/CreateWorkout/ListPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Revert "Added deps install to playright"
  .gitlab-ci.yml
Due: none

Removed systest from pipeline
  .gitlab-ci.yml
Due: none

Fixed syntax pipline error
  .gitlab-ci.yml
Due: none

Added back the systest
  .gitlab-ci.yml
Due: none

Fixed so that a dropdown can take a checkbox and style thereafter.
  frontend/src/components/Common/List/Dropdown.jsx
  frontend/src/components/Common/List/Dropdown.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Documentation is important.
  frontend/src/components/Common/List/Dropdown.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Not trigger the autoClose when pressing the checkbox.
  frontend/src/components/Common/List/Dropdown.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Some comments work with the preset comments but character count is still broken
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

removed comment line
  frontend/src/components/Admin/ManageUser.jsx
Due: test-linter-frontend, test-frontend, build-frontend

add link to playwright doc
  docs/Chapters/QA/SystemTest/writeSystemTest.md
Due: none

Added another expect to a test
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed comments
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/BeltIdDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/CategoryDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/ExaminationProtocolDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/GradingProtocolDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/gradingprotocol/DTOs/TechniqueDTO.java
Due: test-backend, generate-api-docs, generate-javadocs

Start of a function to select all items in a lsit.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fix linter issues
  frontend/src/__tests__/pages/Group/GroupIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fix linter issues v2
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed back my own solution to error in linter on main, restored to current main
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Now linter issues gotta be fixed
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Commented out non-working test
  frontend/src/__tests__/components/Common/EditableInputTextField/EditableInputTextField.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed unused import
  frontend/src/__tests__/components/Common/EditableInputTextField/EditableInputTextField.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Only made systest single threded
  frontend/playwright.config.ts
Due: test-linter-frontend, test-frontend, build-frontend

Updated writeSystemTests.md to reflect current state of tests
  docs/Chapters/QA/SystemTest/writeSystemTest.md
  frontend/SystemTests/PageObjectModels/workoutPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

remove semicolon
  frontend/SystemTests/PageObjectModels/techniquePage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixat i borttappad funktion i GradingAftter.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixing merge conflicts
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed case when all filters were false to not show all lists in db :3
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
Due: test-backend, generate-api-docs, generate-javadocs

fixed linting issue by copying common component navbar from main
  frontend/src/components/Common/Navbar/Navbar.jsx
Due: test-linter-frontend, test-frontend, build-frontend

add api target for backend to gitignore
  .gitignore
Due: none

added updated author comment
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
Due: test-backend, generate-api-docs, generate-javadocs
