Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=\!TechniqueDatabaseTest

test-database:
  stage: test
  tags:
  - system
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=TechniqueDatabaseTest

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

generate-api-docs:
  stage: docs
  resource_group: deploy
  tags:
  - system
  script:
  - rm -rf /var/www/html/api-docs
  - cd docs/api-docs && mkdocs build -d /var/www/html/api-docs

generate-javadocs:
  stage: docs
  resource_group: deploy
  tags:
  - system
  script:
  - rm -rf /var/www/html/javadocs
  - cd backend
  - mvn javadoc:aggregate
  - mkdir /var/www/html/javadocs
  - cp -r target/site/apidocs/* /var/www/html/javadocs

rebuild-database:
  stage: rebuild_database
  tags:
  - system
  before_script:
  - docker login --username pvt2024 --password $DOCKER_PASS
  script:
  - docker volume rm html_pgdata || true

add expect to canary test
  frontend/SystemTests/TestFiles/canaryTest.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Removed some semicolons and one unneccessary step in the workoutPage.ts
  frontend/SystemTests/PageObjectModels/workoutPage.ts
  frontend/SystemTests/TestFiles/workout.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Grading protocol statistics pop up now show colors
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
  frontend/src/components/Grading/GradingProtocolsRows.jsx
  frontend/src/components/Grading/GradingProtocolsRows.module.css
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Logical problem fixed.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

refactor technique and canary test
  frontend/SystemTests/TestFiles/canaryTest.spec.ts
  frontend/SystemTests/TestFiles/technique.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

add comments
  frontend/SystemTests/Types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

More popup work, its working with mocked data at the moment
  frontend/src/components/Grading/GradingProtocolsRows.module.css
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fetches ActivityLists that are public or that the user has access to
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListServiceTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Long names on examinees is correctly rendered not outside box
  frontend/src/components/Grading/PerformGrading/ExamineeBox.module.css
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

fixed test error that occurred because button did not have a ID
  frontend/SystemTests/TestFiles/gradingduring.spec.ts
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Comment button limits height right now
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added a plugin to exclude 'TechniqueDatabaseTest' when running 'mvn test'
  backend/api/pom.xml
Due: test-backend, generate-api-docs, generate-javadocs

adding divider and so that checked tags appear at top
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/TagInput.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Made comment button littele smaller
  frontend/src/components/Grading/PerformGrading/CommentButton.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added permissions to account context and codes for permissions.
  frontend/src/context.js
  frontend/src/index.js
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Added more fields
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

removed systest
  frontend/SystemTests/TestFiles/gradingduring.spec.ts
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added a list of the users permissions inside the generated token
  backend/api/src/main/java/se/umu/cs/pvt/user/JWTUtil.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserController.java
  backend/api/src/test/java/se/umu/cs/pvt/user/LoginTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UpdateUserTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UserApiTest.java
  backend/api/src/test/java/se/umu/cs/pvt/workout/detail/WorkoutControllerTest.java
Due: test-backend, generate-api-docs, generate-javadocs

fixed multiAdd not able to add to multiple lists
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryController.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed so that filter in favouriteWorkouts work and are cached in cookies + updated 'no results during that period' message
  frontend/src/pages/List/FavouriteWorkoutList.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed unused function imoort
  frontend/src/pages/List/FavouriteWorkoutList.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed author tags
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Activity.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityList.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntry.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/ActivityListDTO.java
Due: test-backend, generate-api-docs, generate-javadocs

fake revert small mistake
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryController.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed frontend styling in GradingBefore
  frontend/src/components/Common/AddExaminee/AddExaminee.jsx
  frontend/src/components/Common/AddExaminee/AddExaminee.module.css
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Done with the new techniques sql file
  infra/database/init/defaults/techniques_2024.sql
Due: test-database, rebuild-database

Spinner no longer spins when typing in the search bar
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Replaced json fetching to camelCase
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added GradingProtocol to database
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocol.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocolCategory.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocolRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocolTechnique.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocolDTO/GradingProtocolCategoryDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocolDTO/GradingProtocolDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocolDTO/GradingProtocolTechinqueDTO.java
  infra/database/init/01-init.sql
  infra/database/init/defaults/grading_protocols.sql
Due: test-backend, test-database, generate-api-docs, generate-javadocs, rebuild-database

Fixed the same thing for the exercise.
  frontend/src/components/Common/ExerciseCard/ExerciseListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Send prop.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Started working on infoPanel, need to fix container to text current technique and make further improvements on techniqqueinfoPanel
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.module.css
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

added duration functionality, it is now ready to be merged as soon as earlier duration implementation gets merged to main
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryController.java
Due: test-backend, generate-api-docs, generate-javadocs

Our statistics page is back
  frontend/src/index.js
Due: test-linter-frontend, test-frontend, build-frontend

Removed statistics routing to NoPage???
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  frontend/src/index.js
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Added so the token also considers permissions from the user
  backend/api/src/main/java/se/umu/cs/pvt/user/UserController.java
  backend/api/src/test/java/se/umu/cs/pvt/user/LoginTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UpdateUserTest.java
  backend/api/src/test/java/se/umu/cs/pvt/user/UserApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Minor fixes.
  frontend/src/components/Common/ExerciseCard/ExerciseListItem.jsx
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added a solution where the password for the db is taken from .env
  backend/api/pom.xml
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed lint
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Moved down user permissions so it isnt reliant on the user having a role
  backend/api/src/main/java/se/umu/cs/pvt/user/UserController.java
Due: test-backend, generate-api-docs, generate-javadocs

Documentation
  frontend/src/components/Common/ExerciseCard/ExerciseListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*
