Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

Added functionality to fetch athlete-pairs from backend and parse it to pairs in frontend stored in a list
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Finished the test for the FilterStatistics component, left comment regarding expansion of the test
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Made it work so that main and this branch is working and able to present names fetched from database
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Made some cleanup and ran linter
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Ran and fixed issues with ci tests and linter
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added examination protocol endpoint.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationProtocol.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationProtocolRepository.java
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend

Removed timestamp files
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
  frontend/vite.config.ts.timestamp-1714388509270-bbd08214bf986.mjs
  frontend/vite.config.ts.timestamp-1715064802693-4ccc5ab684b09.mjs
Due: test-linter-frontend, test-frontend, build-frontend

Added systest for gradingBefore site. Also made changes to login_page script for playwright
  frontend/src/__tests__/pages/Grading/GradingBefore.test.jsx
  frontend/src/components/Common/AddExaminee/AddExaminee.jsx
  frontend/src/components/Common/AddExaminee/Examinee.jsx
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/sys-test/fixtures/login_page.ts
  frontend/sys-test/gradingbefore.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added a test for the examinee comment endpoint.
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend

adds props to AddToListItem component
  frontend/src/components/Activity/AddToListPopupContent.jsx
  frontend/src/components/SavedList/AddToListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

comments have updated fixed a little issue with display
  frontend/src/pages/Statistics/StatisticsButton.module.css
  frontend/src/pages/Statistics/StatisticsIndex.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

comments have updated fixed a little issue with display
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed scoll from BarChart
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed deviation URL & added initial API call
  frontend/src/index.js
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed auto scrolling for backing and started adding support for removal of choosen activities in popup to accomodate flow of scrolling
  frontend/src/components/Common/List/InfiniteScrollComponent.jsx
  frontend/src/components/Workout/CreateWorkout/ActivityInfoPopUp.jsx
  frontend/src/components/Workout/CreateWorkout/ActivityInfoPopUp.module.css
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed deploy script.
  deploy.sh
  nginx/Dockerfile
Due: none

Finished the tag popup, tags can now be deleted. Also added some comments
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/Examinee.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed some formatting
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/Examinee.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed irrelevant file and fixed some formatting
  frontend/src/components/Common/Tag/Examinee.jsx
  frontend/src/components/Common/Tag/TagList.module.css
  frontend/src/components/Common/Tag/Taglist.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created user_to_permission table in database
  infra/database/init/01-init.sql
Due: none

Added color highlight on belt name which changes depending on which belt is picked, also started making methods to add comment page for pairs and examinee
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Added further API calls for fetching grading_id and belt_id
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

started working on connecting api with admin page
  frontend/src/pages/Admin/Admin.jsx
  frontend/src/pages/Admin/RoleDetailPage.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Corrected css, color belt navigation
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingBefore.module.css
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed structure of Examinee component to make it easier to handle data, send and retrive, from database
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changes username for an account to a more unique identifier
  frontend/sys-test/fixtures.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixed error from last commit and added functionality to remoce from list locally
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

erases firefox as a browser for now since it did not work properly
  frontend/playwright.config.ts
Due: test-linter-frontend, test-frontend, build-frontend

adds playwright report to gitignore
  .gitignore
Due: none

first version of a system test
  frontend/sys-test/exercise.spec.ts
  frontend/sys-test/pageObjectModels/exercise_page.ts
Due: test-linter-frontend, test-frontend, build-frontend

fixed so that get and delete works, post still does not work
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationProtocol.java
Due: test-backend

Fix tag name not in lower case when Kihon checked.
  frontend/src/pages/Activity/Technique/TechniqueEdit/TechniqueEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Does not get post to work for some reason
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created the repository for UserToPermission table
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserPermissionRepository.java
Due: test-backend

added comments to files, settled on only adding get and delete, because the protocols should already be initialized in the database
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationProtocol.java
Due: test-backend

Fixed broken test after restructuring examinee components
  frontend/src/__tests__/components/Grading/PerformGrading/ExamineePairBox.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed the retrun value and name of findAllProjectedByUserId method
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserPermissionRepository.java
Due: test-backend

added simple test for ExaminationProtcols api
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
