Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Moved down session_review
  infra/database/init/01-init.sql
Due: none

Fixed certbot error.
  deploy.sh
  deploy_prod.sh
  docker-compose-domain-release.yml
Due: none

Updated gitlab ci
  .gitlab-ci.yml
Due: none

Only allow normal space in tag names.
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed Instructions for deploy
  deploy.md
Due: none

Change cursor style when hovering over create tag button.
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added todo comments
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

made delete-popup for roles, small edit backend which made corrected small parameter error on PUT and DELETE method
  backend/api/src/main/java/se/umu/cs/pvt/permission/PermissionController.java
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
  frontend/src/components/Admin/Delete/RoleDelete.jsx
  frontend/src/components/Admin/Delete/RoleDelete.module.css
  frontend/src/pages/Admin/RoleDetailPage.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

Grading protocol cascaded
  infra/database/init/01-init.sql
Due: none

started work on test
  backend/api/src/test/java/se/umu/cs/pvt/permission/RoleToPermissionApiTest.java
Due: test-backend

Toggled of grading
  frontend/src/components/Common/Navbar/Navbar.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added tokens to api calls
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fix linter problem
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter problem 2
  frontend/src/pages/Grading/GradingCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter problem 3
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed quotes
  .gitlab-ci.yml
Due: none

Added docker login for prod deploy
  .gitlab-ci.yml
Due: none

Removed release tag
  .gitlab-ci.yml
Due: none

Fixed examintation_result cascading
  infra/database/init/01-init.sql
Due: none

Removed toggle from grading
  frontend/src/components/Common/Navbar/Navbar.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linting problem
  frontend/src/components/Common/Navbar/Navbar.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that mocked data used true boolean instead of 'true' string in Profile and so that ProfileListItem used list.id and not list.list_id
  frontend/src/pages/Profile/Profile.jsx
  frontend/src/pages/Profile/ProfileListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Further fixes to MockList
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added test for GradingDeviationContainer
  frontend/src/__tests__/components/Grading/GradingDeviationContainer.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added comments to GradingBefore.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Refactoring code to avoid repetition
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Moved date to be gotten when setting the header, and added comments to better clarify what is going on
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Fixed filtering of favourites when looking at workouts
  frontend/src/pages/Workout/WorkoutIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

adds dependency
  backend/api/pom.xml
Due: test-backend

tests for enpoints in ActivityListController.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListControllerTest.java
Due: test-backend

Implementation of ActivityList and crud functionality in ActivityListController
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityList.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntry.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListExceptions.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListShortDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/IActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/UserShortDTO.java
Due: test-backend

fixed linter error
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Refactored code to make the new line more understandable and easier to follow
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

made it so that the table is always centered
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

small changes from previous commit
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

moves dto to a sub folder
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityList.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntry.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/AddActivityListRequest.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/ActivityDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/ActivityListDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/ActivityListShortDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/UserShortDTO.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListControllerTest.java
Due: test-backend

Added a file to gather the changes we're about to make
  z_techniques_to_add.md
Due: none

Wrote test for getting all permissions of a single role
  backend/api/src/main/java/se/umu/cs/pvt/permission/Permission.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermission.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
  backend/api/src/test/java/se/umu/cs/pvt/permission/RoleToPermissionApiTest.java
Due: test-backend

Changed belts.sql to new belt categories and corresponding files that use the belt_id call
  backend/api/src/main/java/se/umu/cs/pvt/belt/Belt.java
  infra/database/init/01-init.sql
  infra/database/init/defaults/belts.sql
  infra/database/init/defaults/grading_protocols.sql
  infra/database/init/defaults/plans.sql
Due: test-backend

grading statistics button has been added
  frontend/public/GradingStatistics.svg
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.module.css
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend
