Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

Trying new nginx config
  nginx/prod.conf.template
Due: none

Fixed navigation, as workoutCreate and WorkoutEdit uses the same goBack function
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Pulling in changes
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
Due: test-backend

Added https part
  nginx/prod.conf.template
Due: none

Scrollable grid working
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
  frontend/src/pages/Grading/During/DuringGrading.modules.css
Due: test-linter-frontend, test-frontend, build-frontend

changed the reposirotry type from crud till jpa.
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleRepository.java
Due: test-backend

changed the function 'getRoles' so it retruns ResponseEntity and handels case when it returns an empty list
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
Due: test-backend

post seems to work
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
Due: test-backend

Added a test for fetching all roles
  backend/api/src/test/java/se/umu/cs/pvt/role/RoleApiTest.java
Due: test-backend

Working now. There is alot of bugs left
  frontend/src/components/Common/AddExaminee/Examinee.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fetching fixed
  frontend/src/pages/Grading/GradingIndex.jsx
  frontend/src/pages/Grading/GradingIndex.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added interaction test for toggling
  frontend/src/__tests__/components/Grading/GradingDeviationContainer.test.jsx
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Made the if statement shorter
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed name
  frontend/src/__tests__/pages/Statistics/StatisticsIndex.test.jsx
  frontend/src/index.js
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added functionality/logic to commentbutton
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added Put and Get mapping for examresult
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Change test for finding all roles, to inlcude the http respone code
  backend/api/src/test/java/se/umu/cs/pvt/role/RoleApiTest.java
Due: test-backend

Changed from crud repo to jpa to match most other repos
  backend/api/src/main/java/se/umu/cs/pvt/permission/PermissionController.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/PermissionRepository.java
Due: test-backend

Added navigation to next process
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Started work on permission api test, starting with get all
  backend/api/src/test/java/se/umu/cs/pvt/permission/PermissionApiTest.java
Due: test-backend

Added test for no content when getting all permissions
  backend/api/src/test/java/se/umu/cs/pvt/permission/PermissionApiTest.java
Due: test-backend

updated comment text
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

IMplemented button next, previous and tekniker with working popup
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

delete now also works
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Change backend tag filter to also return usage.
  backend/api/src/main/java/se/umu/cs/pvt/tag/TagController.java
  backend/api/src/main/java/se/umu/cs/pvt/tag/TagRepository.java
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

Modified message from english to swedish
  frontend/src/components/Plan/SessionContainer.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter problems and updated documentation
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added some comments.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

changed the commentbutton from svg to imported
  frontend/src/components/Grading/PerformGrading/CommentButton.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed filtering by date created in WorkoutIndex.jsx
  frontend/src/pages/Workout/WorkoutIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Adding test folder and test file
  frontend/src/__tests__/pages/Grading/GradingBefore.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

comments have updated
  frontend/src/pages/Statistics/FilterStatistics.jsx
  frontend/src/pages/Statistics/Statistics.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed import thats not longer needed
  frontend/src/pages/Workout/WorkoutIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added for the belt colors data to check that the activity is actual a technique
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Small changes that not work, adjusted .second to .first in namePresented in box
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

changes in css module
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed function names and documentation, as well as some refactoring
  frontend/src/components/Grading/PerformGrading/CommentButton.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixes for change in checked techniques
  frontend/src/components/Workout/CreateWorkout/ActivityInfoPopUp.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Filter can now be accessed and the mocked data is properly formatted
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed Popup test to send input according to new definition, Test rendering FilterStatistics component added
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
