Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

Added comments for GradingDeviationContainer
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added comments to gradingdeviation
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

grading statistics button has been added
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

grading statistics button has been added
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added comments in GradingAfter.
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added a 2nd constructor Belt to function with new belts
  backend/api/src/main/java/se/umu/cs/pvt/belt/Belt.java
  backend/api/src/test/java/se/umu/cs/pvt/belt/BeltControllerGetTest.java
  backend/api/src/test/java/se/umu/cs/pvt/plan/PlanApiApplicationTests.java
  backend/api/src/test/java/se/umu/cs/pvt/statistics/BeltResponseTest.java
  backend/api/src/test/java/se/umu/cs/pvt/statistics/StatisticsResponseTest.java
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueApiApplicationTests.java
  carousel.png
  infra/database/init/defaults/belts.sql
  media/Screenshot 2024-04-22 at 13.32.02.png
  z_belt_backup.sql
Due: test-backend

Added comment to const fields
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added comments, still working on class comment
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Fixed TagInputTest
  frontend/src/__tests__/components/Common/Tag/TagInput.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added class comment, unfinished for now...
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Almost done refactoring ListActivityInfoPopUp.jsx and also changed the name of the CreateContext to ListCreateContext instead of WorkoutCreateContext
  frontend/src/components/Common/List/ListActivityInfoPopUp.jsx
  frontend/src/components/Common/List/ListActivityListComponent.jsx
  frontend/src/components/Common/List/ListAddActivity.jsx
  frontend/src/components/Common/List/ListCreateContext.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
  frontend/src/pages/List/SavedActivityListComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added comments for what can be done to fix this monster of a class also what has to be done
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Make the examinee component more generic, it is called EditableListItem, also added comments for the component
  frontend/src/components/Common/AddExaminee/Examinee.jsx
  frontend/src/components/Common/AddExaminee/Examinee.module.css
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/src/components/Common/EditableListItem/EditableListItem.module.css
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

grading statistics button has been added
  frontend/src/pages/Statistics/GradingStatisticsPopup.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed confirm popup of page is changed, added id and working on reading button value
  frontend/src/components/Common/RoleCard/PermissionListItem.jsx
  frontend/src/components/Common/RoleCard/RoleListItem.jsx
  frontend/src/components/Common/ToggleButton/ToggleButton.jsx
  frontend/src/pages/Admin/Admin.jsx
  frontend/src/pages/Admin/RoleCreate.jsx
  frontend/src/pages/Admin/RoleDetailPage.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed 'BeltBox' to be compatible with our newly added belts
  frontend/src/components/Plan/BeltBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed all workoutCreaInfo to listCreateInfo, hopefully not broken anything else
  frontend/src/components/Common/List/ListActivityInfoPopUp.jsx
  frontend/src/components/Common/List/ListActivityListComponent.jsx
  frontend/src/components/Common/List/ListAddActivity.jsx
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
  frontend/src/pages/List/SavedActivityListComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed WORKOUT_CREATE_TYPES to LIST_CREATE_TYPES
  frontend/src/components/Common/List/ListActivityInfoPopUp.jsx
  frontend/src/components/Common/List/ListActivityListComponent.jsx
  frontend/src/components/Common/List/ListAddActivity.jsx
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
  frontend/src/pages/List/SavedActivityListComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed package-lock and package.json from bad merge
  package-lock.json
  package.json
Due: none

removed endpoint for delete, since it was deemed unnecessary, only get for all protocols remain
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Changed workoutCreateReducer to listCreateReducer in ListCreateReducer file
  frontend/src/components/Common/List/ListActivityListComponent.jsx
  frontend/src/components/Common/List/ListAddActivity.jsx
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/pages/List/ListEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added prototype
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Changed the payload struct thing's name from workoutData to listData :)
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/pages/List/ListEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

refactors add endpoint to enable adding activities directly
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Activity.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityList.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListExceptions.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/AddActivityListRequest.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/ActivityListDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/ActivityListShortDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/UserShortDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/IActivityListService.java
Due: test-backend

Added restart to docker compose
  deploy.sh
Due: none

More tests for roleToPermission api
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionRepository.java
  backend/api/src/test/java/se/umu/cs/pvt/permission/RoleToPermissionApiTest.java
Due: test-backend

Added test method for setting permission id
  backend/api/src/main/java/se/umu/cs/pvt/permission/Permission.java
Due: test-backend

Changed retrun type for deleting a user permission pair
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionController.java
Due: test-backend

Created tests for UserToPermissionController
  backend/api/src/test/java/se/umu/cs/pvt/permission/UsersToPermissionApiTest.java
Due: test-backend

Removed all traces of freeTextPopUp
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed date in docs
  backend/api/src/main/java/se/umu/cs/pvt/permission/Permission.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
Due: test-backend

Fixed a problem where click at any part of the checkbox would select the first item in the dropdown if the item is toggleable
  frontend/src/components/Common/List/Dropdown.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed all traces of isFreeText
  frontend/src/components/Common/List/ListFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

did some stuff
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

refactors logic to ActivityListService
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityList.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListExceptions.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/IActivityListService.java
Due: test-backend

added comments and refactoring
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed documentation to be more descriptive
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionController.java
Due: test-backend

Fixed bug when editing the name of a student and fixed type error in EditableListItem
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed togglebutton issue
  frontend/src/components/Common/RoleCard/PermissionListItem.jsx
  frontend/src/components/Common/ToggleButton/ToggleButton.jsx
  frontend/src/pages/Admin/RoleCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
