Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

Fixed fault from main
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated parameter order and naming in utils.js.
  frontend/src/components/Plan/SessionWorkout.jsx
  frontend/src/pages/Plan/PlanIndex.jsx
  frontend/src/pages/Workout/WorkoutIndex.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

changing sql file
  infra/database/init/defaults/techniques_2024.sql
Due: test-database, rebuild-database

updated functionality according to feedback
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added a check when deleting a role, if a a user is assigned to that role.
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
  backend/api/src/test/java/se/umu/cs/pvt/role/RoleApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed scrollable pairView so it is not hidden behind navigation bar at bottom
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Moved prod nginx to own folder
  nginx/prod/Dockerfile
  nginx/prod/install.sh
  nginx/prod/prod.conf.template
Due: none

fix from frontend in tomato
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed path to new prod folder
  docker-compose-domain-release.yml
Due: none

Fixed so that amount of fav. workouts are loaded
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added update documentation.
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserRepository.java
Due: test-backend, generate-api-docs, generate-javadocs

added missing technique in sql file
  infra/database/init/defaults/techniques_2024.sql
Due: test-database, rebuild-database

add expect for editing a workout
  frontend/SystemTests/TestFiles/workout.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixed comments and reduced clutter in ListActivityInfoPopUp
  frontend/src/components/Common/List/ListActivityInfoPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

adds entryId to activity model
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Activity.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListRequest.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/ActivityListDTO.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixing id's in the new sql file
  infra/database/init/defaults/techniques_2024.sql
Due: test-database, rebuild-database

Fixed small CSS mistakes in GradingBefore
  frontend/src/components/Common/EditableListItem/EditableListItem.module.css
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingBefore.module.css
Due: test-linter-frontend, test-frontend, build-frontend

added test to see if trash icon renders
  frontend/src/__tests__/components/Grading/EditableListItem.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed unused(?) ListActivityListComponent files
  frontend/src/components/Common/List/ListActivityListComponent.jsx
  frontend/src/components/Common/List/ListActivityListComponent.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Minor changes to author comment of ListAddActivity.jsx
  frontend/src/components/Common/List/ListAddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed main techniques sql file to the updated one
  infra/database/init/defaults/techniques.sql
Due: test-database, rebuild-database

fixed lint issue
  frontend/src/__tests__/components/Grading/EditableListItem.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Soon done with locking examinees if the grading is under process
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added new premissions to ADMIN so test passes
  frontend/src/__tests__/pages/Technique/TechniqueIndex/TechniqueIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

removed unused var
  frontend/src/__tests__/components/Grading/EditableListItem.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed ids in ListItem and added new version of test for AddTagPopup
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
  frontend/SystemTests/TestFiles/addTagPopup.spec.ts
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

small changes
  frontend/src/components/Common/Button/BeltButton.module.css
  frontend/src/pages/Grading/GradingCreate.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Changed Edit workout test to use input data instead of a hardcoded string
  frontend/SystemTests/PageObjectModels/workoutPage.ts
  frontend/SystemTests/TestFiles/workout.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

removed backup sql file
  infra/database/init/defaults/techniques_2024.sql
Due: test-database, rebuild-database

Minor ui changes from workout to list
  frontend/src/components/Common/List/ListFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Minor author comment changes
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Minor comment change
  frontend/src/pages/List/FavouriteWorkoutList.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added data-testid
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed issue in Profile.jsx
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added author comment and empty premissions list for user
  frontend/src/__tests__/pages/Technique/TechniqueIndex/TechniqueIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed tests by giving them all permissions for TechniqueEdit.
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
  frontend/src/__tests__/pages/Workout/WorkoutEdit/WorkoutEdit.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed test
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
  frontend/SystemTests/TestFiles/addTagPopup.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Test for statistics button rendering and click on group page
  frontend/src/__tests__/pages/Group/GroupIndex.test.jsx
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

smal changes
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Fixed bug when editing a role with the same name givein BAD REQUEST.
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleRepository.java
Due: test-backend, generate-api-docs, generate-javadocs
