Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

adds id as attribute to be able to use model when updating an activitylist
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/AddActivityListRequest.java
Due: test-backend

Fixed 2/4 tests in TechniqueEdit.test
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

commented
  frontend/src/components/Common/List/Dropdown.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Set check icon in CSS instead of using React Check.
  frontend/src/components/Common/CheckBox/CheckBox.jsx
  frontend/src/components/Common/CheckBox/CheckBox.module.css
Due: test-linter-frontend, test-frontend, build-frontend

updates documentation for implemented system tests
  docs/Chapters/QA/Systemtest.md
Due: none

updates playwright version
  frontend/package-lock.json
  frontend/package.json
Due: test-linter-frontend, test-frontend, build-frontend

With some major problems with pushing a previous branchthat was merged with another branch. This was the only solution.
  frontend/src/components/Common/SearchBar/SearchBarUtils.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/ListPicker.jsx
  frontend/src/components/Workout/CreateWorkout/ListPicker.module.css
Due: test-linter-frontend, test-frontend, build-frontend

fixed some linting problems
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Oops, didnt get all the changes.
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Forgot one file as well...
  frontend/src/components/Workout/CreateWorkout/ListPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed the ExamineeBox to change color on click and that there can be a onClick function in the parent component that can handle the api calls
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added icons for admin and user pages in the navbar. The close button is way to small and the admin button is not where it is supposed to be.
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/components/Common/Navbar/Navbar.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed lint issues
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changes name of file to ActivityListRequest and adds duration to model
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListRequest.java
Due: test-backend

Removed some traces of 'workout' stuff and changed name of WorkoutCreateInitialState' in reducer to 'ListCreateInitialState'
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

ran linter to fix syntax
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

removed duplicate function
  backend/api/src/main/java/se/umu/cs/pvt/permission/Permission.java
Due: test-backend

Changed name of 'WorkoutFormComponent' to 'ListFormComponent' :)
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added endpoint for export pdfcd
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

renames all exercise symbols to technique
  frontend/sys-test/pageObjectModels/technique_page.ts
  frontend/sys-test/technique.spec.ts
  frontend/sys-test/types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added a data-testid attribute to technique-detail-actions-container
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetail.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Renamed 'WorkoutActivityList' to 'SavedActivityList' in export default function (Since all files that imported it named it that)
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed deleteTechnique function to locate technique-detail-actions-container by data-testid instead of className
  frontend/sys-test/pageObjectModels/technique_page.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fix tag search input not being lowercased (also trim it).
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
Due: test-backend

adds isShared to ActivityListShortDTO to be able to determine if user has shared the list with anyone
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListRequest.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/Dtos/ActivityListShortDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/IActivityListService.java
Due: test-backend

adds all test files in one folder and erases browsers
  frontend/playwright.config.ts
  frontend/sys-test/page-object-models/technique_page.ts
  frontend/sys-test/test-files/canaryTest.spec.ts
  frontend/sys-test/test-files/technique.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

adds information about decisions with configuration
  frontend/playwright.config.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixed deploy script.
  deploy.sh
  deploy_prod.sh
Due: none

adds and updates commenting
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityList.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntry.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListExceptions.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListRequest.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListService.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/IActivityListService.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListControllerTest.java
Due: test-backend

removed duplicate permission default from init file. Added a couple default permissions in the database
  infra/database/init/01-init.sql
  infra/database/init/defaults/permissions.sql
Due: none

Renamed 'WorkoutActivityListItem' to 'SavedActivityListItem' so that is like 'SavedActivityList' from a previous commit
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed error from someone elses merge, stopped grading protocols from being entered into database correctly
  infra/database/init/01-init.sql
Due: none

Renamed setWorkoutUsers to setListUsers
  frontend/src/pages/List/ListInfo.jsx
  frontend/src/pages/List/SavedActivityListComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

forgot to save modified file after merge with main
  infra/database/init/defaults/examination_protocols.sql
Due: none

Changed name of deleteWorkout to deleteList and setWorkoutData to setListData
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed name of css class 'workoutDetailColumnItem' to 'listDetailColumnItem'
  frontend/src/pages/List/ListInfo.jsx
  frontend/src/pages/List/ListInfo.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added transparency to technique card if count is 0, this is for the statistics page
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.module.css
Due: test-linter-frontend, test-frontend, build-frontend

merged from main
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed name of 'updateWorkout' function to 'updateList'
  frontend/src/pages/List/ListEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend
