Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

small fixes
  frontend/src/pages/Workout/WorkoutView/WorkoutView.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed compose up on frontend
  .gitlab-ci.yml
Due: none

Added failing test.
  frontend/SystemTests/TestFiles/canaryTest.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Rewrote 'Create technique' test to include adding a tag and medialink, Added a key value to the EditableListItems and the dividers in the AddTagPopup component to get rid of a warning
  frontend/SystemTests/PageObjectModels/techniquePage.ts
  frontend/SystemTests/TestFiles/technique.spec.ts
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Rewrote 'Create technique' test to include adding a tag and medialink, Added a key value to the EditableListItems and the dividers in the AddTagPopup component to get rid of a warning
  frontend/SystemTests/PageObjectModels/techniquePage.ts
Due: test-linter-frontend, test-frontend, build-frontend

fixed linting error
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Increased the timeout
  frontend/playwright.config.ts
Due: test-linter-frontend, test-frontend, build-frontend

Finalized implementation
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added button to create list from myLists, no funcitonality
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Disabled feature toggle
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added key to EditableListItems and divs
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Running regular docker compose instead of feature
  .gitlab-ci.yml
Due: none

add information about retrieving elements
  docs/Chapters/QA/SystemTest/writeSystemTest.md
Due: none

fixed linter issues and trying to get failing tests to work with the additional inverted variable in belts
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
  frontend/src/components/Common/BeltPicker/BeltPicker.jsx
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
  frontend/src/pages/Activity/Technique/TechniqueIndex/TechniqueIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed test to expect instead of timeout await
  frontend/SystemTests/TestFiles/canaryTest.spec.ts
  frontend/playwright.config.ts
Due: test-linter-frontend, test-frontend, build-frontend

Make tag name multiline editable.
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/src/components/Common/EditableListItem/EditableListItem.module.css
Due: test-linter-frontend, test-frontend, build-frontend

before merge something does not work. Hopaps du läser det här Emil.
  frontend/src/components/Grading/UserBoxGrading.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

..
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend, generate-api-docs, generate-javadocs

Change title from "x" to "Hantera taggar" when the item to be tagged has no name yet.
  frontend/src/components/Common/Tag/TagInput.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed update for all three comment buttons and javadoc to all functions.
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Remove unnecessary function call and reword error message.
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

the colors update correctly, a bit slow though
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated utils.js with some more auxiliary functions for the permissions.
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Commented out unused function
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed expect timeout
  frontend/playwright.config.ts
Due: test-linter-frontend, test-frontend, build-frontend

fixed linter errors and made test for feature
  frontend/src/__tests__/components/Grading/PerformGrading/CommentButton.test.jsx
  frontend/src/components/Grading/PerformGrading/CommentButton.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed back test to work, changed maxFailures to 2
  frontend/SystemTests/TestFiles/canaryTest.spec.ts
  frontend/playwright.config.ts
Due: test-linter-frontend, test-frontend, build-frontend

fixed test file
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Created tests for posting multiple permissions to a role, and editing a roles permisisons
  backend/api/src/test/java/se/umu/cs/pvt/permission/RoleToPermissionApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

correct spelling mistakes
  docs/Chapters/QA/SystemTest/writeSystemTest.md
Due: none

Added endpoints to add extra activities to session review
  backend/api/src/main/java/se/umu/cs/pvt/session/ExtraActivitiesDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/session/SessionReviewController.java
  backend/api/src/main/java/se/umu/cs/pvt/session/SessionReviewRepository.java
  frontend/src/components/Plan/SessionReview/SessionReviewComponent.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend, generate-api-docs, generate-javadocs

Fix css indentation.
  frontend/src/components/Common/EditableListItem/EditableListItem.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Grading protocol popup almost done
  frontend/src/components/Grading/GradingProtocolsRows.jsx
  frontend/src/components/Grading/GradingProtocolsRowsMenu.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added a hardcoded limit of 16 characters so the name field doesn't overflow
  frontend/src/components/Grading/UserBoxGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

ALmost done with everything
  frontend/src/pages/Admin/Admin.jsx
  frontend/src/pages/Admin/RoleCreate.jsx
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added systest for addTagPopup
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
  frontend/SystemTests/TestFiles/addTagPopup.spec.ts
  frontend/SystemTests/Types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added some more defaults. A user and editor role with some permissions. Also gave admin all individual permissions.
  infra/database/init/defaults/permissions.sql
  infra/database/init/defaults/roles.sql
  infra/database/init/defaults/users.sql
Due: test-database, rebuild-database

Fixed linter issues
  frontend/src/components/Grading/UserBoxGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added id testing for all technique-belt combos in database with new technique system
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed id in test
  frontend/SystemTests/TestFiles/addTagPopup.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend
