Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test -Dtest=\!TechniqueDatabaseTest

test-database:
  stage: test
  tags:
  - system
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend/api
  ...

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

Added comments
  frontend/src/components/Common/Popup/PopupMini.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fake commit to retry pipeline after systest removal
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
Due: test-backend

Changed line-height from just inheriting to 1.1rem
  frontend/src/components/Common/Button/Button.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added so username is visible in the Profile page
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added function for checkin if user can edit other users
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

set the feature toggle to false
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed check from isadmin to new permission check
  frontend/src/components/Common/Navbar/Navbar.jsx
Due: test-linter-frontend, test-frontend, build-frontend

trying with different branch to avoid systests
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
Due: test-backend

Fixed so that when you go back it checks how many new unlocked something it works just merge
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixing duplicate endoint issue
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

sets a successtoast when lists are fetched to clear tests.
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

removed semi colons for linter issues
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed BeltPicker bug and tests for it.
  frontend/src/__tests__/components/Common/BeltPicker/BeltPicker.test.jsx
  frontend/src/components/Common/BeltPicker/BeltPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Enabled date filter
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
Due: test-backend

Added comments for test file BeltPicker.test.jsx.
  frontend/src/__tests__/components/Common/BeltPicker/BeltPicker.test.jsx
  frontend/src/components/Common/BeltPicker/BeltPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added id to clickable part of component
  frontend/src/components/Common/EditableInputTextField/EditableInputTextField.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added atob to window.atob.
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated input techniques in test to match new database
  frontend/SystemTests/TestFiles/workout.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

change back to 4 workers and decrease timeout for system tests
  frontend/playwright.config.ts
Due: test-linter-frontend, test-frontend, build-frontend

retrieve checkbox for tag in technique test
  frontend/SystemTests/PageObjectModels/techniquePage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Changes done by linter
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed so that the randori name is the same in all protocols in the examination protocols
  frontend/src/pages/Grading/During/DuringGrading.jsx
  infra/database/init/defaults/examination_protocols.sql
Due: test-linter-frontend, test-database, test-frontend, build-frontend

Changed funtion name
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

Updated edit workout test input to match new DB
  frontend/SystemTests/TestFiles/workout.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Something went wrong on git pushing changes from branch change navbar
  frontend/src/components/Common/Navbar/Navbar.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed a comment
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

made fix that allows public list content to be shown
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListRepository.java
Due: test-backend

Tried this instead atob(base64String.replace(/-/g, +).replace(/_/g, /))..
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

admin can now view all lists
  backend/api/src/main/java/se/umu/cs/pvt/search/SearchController.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchActivityListDBBuilder.java
Due: test-backend

Renamed ativities to technique_exercise
  infra/database/init/defaults/permissions.sql
Due: test-database

added permission checks for exercises and techniques
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/AuthFilter.java
Due: test-backend

added endpoint for getting users from a role_id, fixed small button issue
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
  backend/api/src/main/java/se/umu/cs/pvt/user/UserRepository.java
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

Might work to create new lists?
  frontend/src/index.js
  frontend/src/pages/List/ListEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

reverted to window.atob()
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed the popup again
  frontend/src/components/Common/Popup/PopupSmall.module.css
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

created an exercise page for the popups
  frontend/src/pages/Activity/Exercise/ExerciseDetailMini.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Capitalized a letter
  infra/database/init/defaults/techniques.sql
Due: test-database

Fixed bugs when creating the UserBoxGrading(The wrong ID was used).
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed tests failing when fetching lists
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linting problem in GradingDeviations.
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
