Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Fixed so that you can close 'Lägg till aktiviteter' window
  frontend/src/components/Common/List/ListCreateReducer.js
Due: test-linter-frontend, test-frontend, build-frontend

added id getters for role and permissions
  backend/api/src/main/java/se/umu/cs/pvt/permission/Permission.java
  backend/api/src/main/java/se/umu/cs/pvt/role/Role.java
Due: test-backend

updated docs
  backend/api/src/main/java/se/umu/cs/pvt/permission/Permission.java
  backend/api/src/main/java/se/umu/cs/pvt/role/Role.java
Due: test-backend

Reword usage popup text.
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/TagUsagePopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed name everywhere from grading_protocols to examination_protocols
  infra/database/init/01-init.sql
  infra/database/init/defaults/examination_protocols.sql
Due: none

Created the UserPermission class for the database
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserPermission.java
Due: test-backend

Added route through grading id
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/components/Grading/PerformGrading/TechniqueInfoPanel.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Edited some tests that will later need to be fixed
  frontend/src/__tests__/components/Common/Tag/AddTagPopup.test.jsx
  frontend/src/__tests__/components/Common/Tag/TagInput.test.jsx
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
  frontend/src/components/Common/Tag/AddTagPopup.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed name of classes UserPermission and UserPermissionRepository to UserToPermission and UserToPermissionRepository
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermission.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionRepository.java
Due: test-backend

Created the method getUserPermissions that fetches all permissions for a user
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionController.java
Due: test-backend

Fixed linting
  frontend/src/__tests__/components/Common/Tag/AddTagPopup.test.jsx
  frontend/src/__tests__/components/Common/Tag/TagInput.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed test
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fix tag name editing buttons.
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/Examinee.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed merge conflicts
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Simple post is possible with hardcoded values. Working on getting the correct id, but some thing is problem. Check line 221. Maybe rendered to fast?
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed problem with render names. Now it is possible toi get exam_id to button
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

You can now navigate through the grading flow
  frontend/src/index.js
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Made some cleanup on code
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed linter error
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
  frontend/src/components/Grading/PerformGrading/ExamineePairBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added functionality to Trash component which removes checked Activities using WorkoutCreateReducer
  frontend/src/components/Common/List/InfiniteScrollComponent.jsx
  frontend/src/components/Workout/CreateWorkout/ActivityInfoPopUp.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
  frontend/src/components/Workout/CreateWorkout/WorkoutCreateReducer.js
Due: test-linter-frontend, test-frontend, build-frontend

fixed lint problem
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Change name of files
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserPermission.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserPermissionRepository.java
Due: test-backend

Added so the flow is working
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Wokring on method for posting new userpermission
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionController.java
Due: test-backend

Finnished method for posting new permissions for a user
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionController.java
Due: test-backend

Fixed broken deploy script.
  deploy.sh
  docker-compose-domain-release.yml
  nginx/Dockerfile
  nginx/install.sh
Due: none

Modified a few files
  frontend/src/__tests__/components/Grading/GradingDeviationContainer.test.jsx
  frontend/src/__tests__/pages/Grading/GradingBefore.test.jsx
  frontend/src/__tests__/pages/Grading/GradingIndex.test.jsx
  frontend/src/components/Common/AddExaminee/AddExaminee.jsx
  frontend/src/components/Common/AddExaminee/Examinee.jsx
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingCreate.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Merged
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Resolved merge conflict
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added library for optional
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Added examinee comment pages
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Fixed linter errors
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that you can remove and add new activities :)
  frontend/src/components/Common/List/ListActivityInfoPopUp.jsx
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Add method for fetching UserToPermission by userId and permissionId
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionRepository.java
Due: test-backend

Created method for deleting user permissions
  backend/api/src/main/java/se/umu/cs/pvt/permission/UserToPermissionController.java
Due: test-backend

added new page for role creation, linking pages and api calls
  frontend/src/components/Common/RoleCard/RoleListItem.jsx
  frontend/src/index.js
  frontend/src/pages/Admin/Admin.jsx
  frontend/src/pages/Admin/RoleCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added deploy_prod script.
  deploy.sh
  deploy_prod.sh
  docker-compose-domain-release.yml
  docker-compose-release.yml
Due: none

Trim edited tag name.
  frontend/src/components/Common/Tag/Examinee.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed technique button from navbar
  frontend/src/components/Common/Navbar/Navbar.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added a role_to_permission table to handle mapping between roles and permissions
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermission.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionController.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/RoleToPermissionRepository.java
  infra/database/init/01-init.sql
  infra/database/init/defaults/permissions.sql
Due: test-backend
