Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Removed unnecessary console.log instances.
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed forgotten console.log.
  frontend/src/components/Plan/GroupPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

erase out comment code
  frontend/SystemTests/TestFiles/groups.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

docs teehee :3
  backend/api/src/main/java/se/umu/cs/pvt/PermissionValidator.java
  backend/api/src/main/java/se/umu/cs/pvt/session/SessionController.java
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/PermissionValidator.java
Due: test-backend

Made grading deviations show white on non-defined grading result
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed navigation for going back to step 2
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

local conflict..
  frontend/src/pages/Workout/WorkoutEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

First systest is passing
  frontend/SystemTests/PageObjectModels/duringGradingPage.ts
  frontend/SystemTests/TestFiles/duringGrading.spec.ts
  frontend/src/__tests__/pages/Grading/GradingDuring.test.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeBox.jsx
Due: test-linter-frontend, test-frontend, build-frontend

adding being able to view a weave
  frontend/src/components/Common/Flowchart/CustomNode.jsx
  frontend/src/components/Common/Flowchart/Flowchart.jsx
  frontend/src/components/Common/TechniquechainCard/TechniquechainCard.jsx
  frontend/src/index.js
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveCreate/TechniqueWeaveCreate.jsx
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeaveCreate/TechniqueWeaveCreate.module.css
  frontend/src/pages/Techniquechain/TechniqueWeave/TechniqueWeave_page/TechniqueWeave_page.jsx
  frontend/src/pages/Techniquechain/TechniquechainIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed api body to have the correct name
  backend/api/src/main/java/se/umu/cs/pvt/techniqueChain/TechniqueChainController.java
Due: test-backend

Added a css class name for undefined container
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed save and exit button not to render when on step 4
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Connected fronted to backend. now possible to export single athlete PDF.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingExamineePdf.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Making beltpicker more user friendly for smaller screens
  frontend/src/components/Common/BeltIcon/BeltIcon.module.css
  frontend/src/components/Common/BeltPicker/BeltPicker.jsx
  frontend/src/components/Common/BeltPicker/BeltPicker.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed sibmit button almost
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

De-verbosification and re-verbosification with -v
  infra/database/restore_db.sh
Due: none

Implemented testing for the NewSorterComponent
  frontend/src/__tests__/components/Common/Sorting/NewSorter.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linting
  frontend/src/__tests__/components/Common/Sorting/NewSorter.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added some tests for the systests
  frontend/SystemTests/PageObjectModels/duringGradingPage.ts
  frontend/SystemTests/TestFiles/duringGrading.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Made downloaded pdf name be same as grading name
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Reverted back to the way it was.
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

WIP adding beta access permission
  frontend/src/utils.js
  infra/database/init/defaults/permissions.sql
Due: test-linter-frontend, test-database, test-frontend, build-frontend

Added css code for handling box with error text in dropdown if no groups
  frontend/src/components/Plan/GroupPicker.module.css
Due: test-linter-frontend, test-frontend, build-frontend

small fix
  backend/api/src/main/java/se/umu/cs/pvt/session/SessionController.java
Due: test-backend

Added code for showing kunde inte hitta några grupper when user do not have any groups
  frontend/src/components/Plan/GroupPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Improved comments and structure of all jsx files in Statistics
  frontend/src/pages/Statistics/FilterStatistics.jsx
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  frontend/src/pages/Statistics/StatisticsIndex.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed css of bottom row container when next and prev technique are invisible.
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Exported PDF now has unique name + added logic for handling \n on comments in PDF.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingExamineePdf.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

added the ability to remove gradings between each run of systest
  frontend/SystemTests/PageObjectModels/duringGradingPage.ts
  frontend/SystemTests/TestFiles/duringGrading.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Changed names and descriptions of some permissions
  infra/database/init/defaults/permissions.sql
Due: test-database

Updated enum in PermissionsValidator and wrote a small documentation for hasBetaAccess function in utils.js
  backend/gateway/src/main/java/se/umu/cs/pvt/gateway/PermissionValidator.java
  frontend/src/utils.js
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

Added technique names in comments were it was needed.:DDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingExamineePdf.java
Due: test-backend

Fixed the bug that failed systest
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added author comments
  frontend/src/components/Plan/GroupPicker.jsx
  frontend/src/components/Plan/GroupPicker.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed time in session create
  frontend/src/pages/Plan/PlanCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

I do not know
  frontend/src/components/Plan/GroupPicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added better props-comment for AddToListPopupContent
  frontend/src/components/Activity/AddToListPopupContent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Rewrote some names/descriptions for permissions
  infra/database/init/defaults/permissions.sql
Due: test-database

Added an exlamationmark to UserBoxGrading
  frontend/src/components/Grading/UserBoxGrading.jsx
  frontend/src/pages/Grading/GradingAfterComp.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added console logs to try and find where a technique is null
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend
