Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

Fixed issue with the last pair not beeing visible in the browser
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed feedback from merge request regarding changing an '==' to '==='
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Possible to fetch all examinees
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed so that CSS arrow rotates when clicked
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Restructured tests, added global constants of mocked json data
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Started work on tags.
  .gitlab-ci.yml
  docker-compose-domain-release.yml
Due: none

Added pair and group comment functionality
  frontend/src/pages/Grading/GradingDeviationContainer.jsx
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

color is following when creating new protocol
  frontend/src/__tests__/pages/Grading/GradingIndex.test.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added grading
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Adding groupcomment line breaks
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
  backend/api/src/main/java/se/umu/cs/pvt/export/GradingExportController.java
Due: test-backend

READING TYPES READING TYPES READING TYPES READING TYPES
  (Dont)readme
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added some changes.
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingAfterComp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

A-Ö
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/Examinee.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added so tags that are in use have a gray trash can
  frontend/src/components/Common/Tag/AddTagPopup.jsx
  frontend/src/components/Common/Tag/Examinee.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed wrong order in weekdays in plan create
  frontend/src/pages/Plan/PlanCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added solution - unimplemented
  frontend/src/components/Common/BeltColorChart/BeltColorChart.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed issue with key on components also added so one examinee in pair can be null
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExamineePair.java
  frontend/src/components/Common/AddExaminee/Examinee.jsx
  frontend/src/pages/Grading/GradingAfterComp.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingBefore.module.css
  frontend/src/pages/Grading/GradingDeviations.jsx
  infra/database/init/01-init.sql
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

Fixed fetch in gradingComp.
  frontend/src/pages/Grading/GradingAfter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Structure for mocklist, might be correct
  frontend/src/components/Common/List/ListActivityListComponent.jsx
  frontend/src/components/Common/List/ListActivityListComponent.module.css
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/components/Common/List/SearchableDropdown.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removes debug prints
  frontend/src/components/Common/List/ListActivityListComponent.jsx
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/Common/List/ListFormComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
  frontend/src/pages/List/ListInfo.jsx
  frontend/src/pages/Profile/ProfileListItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed vertical to draw horizontal instead, and intial logic for choosing what colors based on switch statement, not done yet
  frontend/src/components/Common/BeltColorChart/BeltColorChart.jsx
Due: test-linter-frontend, test-frontend, build-frontend

A bit closer to home, trying to delete SavedListItemComponents
  frontend/src/components/Common/List/ListAddActivity.jsx
  frontend/src/components/Common/List/ListCreateReducer.js
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
  frontend/src/pages/List/ListEdit.jsx
  frontend/src/pages/List/ListInfo.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed directory of a component and added navigate.
  frontend/src/components/Grading/UserBoxGrading.jsx
  frontend/src/pages/Grading/GradingAfter.jsx
  frontend/src/pages/Grading/GradingAfterComp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created test for fetching a specific role
  backend/api/src/test/java/se/umu/cs/pvt/role/RoleApiTest.java
Due: test-backend

Created test for add a role
  backend/api/src/test/java/se/umu/cs/pvt/role/RoleApiTest.java
Due: test-backend

Created method for removing a role
  backend/api/src/test/java/se/umu/cs/pvt/role/RoleApiTest.java
Due: test-backend

created test for updating role
  backend/api/src/test/java/se/umu/cs/pvt/role/RoleApiTest.java
Due: test-backend

Fixed wrong name of methods deleteRole and update role
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
Due: test-backend

Fixed test for upating role, by adding assert for return value
  backend/api/src/test/java/se/umu/cs/pvt/role/RoleApiTest.java
Due: test-backend

Fixed complex belts
  frontend/src/components/Common/BeltColorChart/BeltColorChart.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue
  frontend/src/components/Common/BeltColorChart/BeltColorChart.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added default inserts for grading_protocals, premissions, and roles
  infra/database/init/01-init.sql
Due: none

Fixed dynamic child belt display
  frontend/src/components/Common/BeltColorChart/BeltColorChart.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Refactored removal of child belt identifier
  frontend/src/components/Common/BeltColorChart/BeltColorChart.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue
  frontend/src/components/Common/BeltColorChart/BeltColorChart.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed feature toggle
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter issue
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added checkbox and a feature toggle for it. The new filtering does not work currently.
  frontend/src/components/Plan/GroupPicker.jsx
  frontend/src/pages/Plan/FilterPlan.jsx
  frontend/src/pages/Plan/FilterPlan.module.css
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

adds id to remove button
  frontend/src/pages/Activity/Technique/TechniqueDetail/TechniqueDetail.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
