Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

some bugs related to the dates have been fixed
  frontend/src/pages/Statistics/FilterStatistics.jsx
  frontend/src/pages/Statistics/Statistics.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created role repository for use in api
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleRepository.java
Due: test-backend

Update docker compose file and deploy script.
  deploy.sh
  nginx/Dockerfile
  nginx/prod.conf.template
Due: none

More documentation
  frontend/src/pages/Statistics/FilterStatistics.jsx
  frontend/src/pages/Statistics/Statistics.jsx
Due: test-linter-frontend, test-frontend, build-frontend

some bugs related to the dates have been fixed
  frontend/src/pages/Statistics/Statistics.jsx
Due: test-linter-frontend, test-frontend, build-frontend

updates documentation for canary test
  frontend/sys-test/canaryTest.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

some var names updated and date bug fixed
  frontend/src/pages/Statistics/Statistics.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created the class 'RoleController', with the function 'GetRoles' that returns all roles
  backend/api/src/main/java/se/umu/cs/pvt/role/RoleController.java
Due: test-backend

Began implementing the examination results endpoint
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResultRepository.java
Due: test-backend

Fixed auto scrolling to cached scroll height
  frontend/src/components/Common/ExerciseCard/ExerciseListItem.jsx
  frontend/src/components/Common/List/InfiniteScrollComponent.jsx
  frontend/src/components/Common/Technique/TechniqueCard/TechniqueCard.jsx
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added permission table to init and a default admin permission. There will likely be more such as more default permissions and a protection against deleting the admin permission.
  infra/database/init/01-init.sql
  infra/database/init/defaults/permissions.sql
Due: none

Fixed mixed spaces and tabs
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fix linter
  frontend/src/pages/Statistics/Statistics.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added depends_on
  docker-compose-domain-release.yml
Due: none

Add duration column to activity_list_entry
  infra/database/init/01-init.sql
Due: none

fixed showing ungoing and finished gradings
  frontend/src/pages/Grading/GradingIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Add duration to activity list entry defaults
  infra/database/init/defaults/activitylists.sql
Due: none

Comment out test for now
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created toggle-button for permission page and a card component for roles, updated admin page to contain dummy role cards
  frontend/src/components/Common/RoleCard/RoleListItem.jsx
  frontend/src/components/Common/RoleCard/RoleListItem.module.css
  frontend/src/components/Common/ToggleButton/ToggleButton.jsx
  frontend/src/components/Common/ToggleButton/ToggleButton.module.css
  frontend/src/pages/Admin/Admin.jsx
  frontend/src/pages/Admin/Admin.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Commented out test properly
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

filter test WIP
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Tests out
  frontend/src/__tests__/pages/Statistics/Statistics.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Commented out https.
  nginx/prod.conf.template
Due: none

merge conflicts
  frontend/src/pages/Activity/Exercise/ExerciseDetailsPage.jsx
  frontend/src/pages/Workout/WorkoutView/WorkoutView.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Created a permission class in the api alongside a simple test.
  backend/api/src/main/java/se/umu/cs/pvt/permission/InvalidPermissionNameException.java
  backend/api/src/main/java/se/umu/cs/pvt/permission/Permission.java
  backend/api/src/test/java/se/umu/cs/pvt/permission/PermissionTest.java
Due: test-backend

fixed some smaller syntax errors, still cant build properly
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationResult.java
Due: test-backend

Created a permission repository for use in the api
  backend/api/src/main/java/se/umu/cs/pvt/permission/PermissionRepository.java
Due: test-backend

Fixed problem where first day is skipped when looping through weekdays array.
  frontend/src/pages/Plan/PlanCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed string length
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExportGradingPdf.java
Due: test-backend

Added read only to nginx shared volume.
  docker-compose-domain-release.yml
Due: none

rework in init and some other stuf in init.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationComment.java
  infra/database/init/01-init.sql
Due: test-backend

Fixed navigation and workoutId
  frontend/src/components/Workout/CreateWorkout/WorkoutFormComponent.jsx
Due: test-linter-frontend, test-frontend, build-frontend

changed layout of statistics page
  frontend/src/pages/Statistics/Statistics.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Mulitple pairs possible to add from pre-defined list
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed problem where first day is skipped when looping through weekdays in sessionsCreate
  frontend/src/pages/Plan/SessionsCreate.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Moved nginx.conf in container.
  nginx/Dockerfile
  nginx/prod.conf.template
Due: none

Fixed color test
  frontend/src/__tests__/components/Grading/GradingDeviationContainer.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Commented out https part
  nginx/prod.conf.template
Due: none

Created Permission controller and a simple get all endpoint
  backend/api/src/main/java/se/umu/cs/pvt/permission/PermissionController.java
Due: test-backend

Fixed color bug in chart
  frontend/src/components/Common/BeltColorChart/BeltColorChart.jsx
  frontend/src/pages/Statistics/StatisticsPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend
