Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-frontend, build-frontend

test-linter-frontend:
  image: node:20
  tags:
  - chappie
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  stage: linter
  script:
  - npm run lint:ci

test-backend:
  stage: test
  tags:
  - chappie
  image: maven:3.8.3-openjdk-17
  variables:
    MAVEN_OPTS: -Dmaven.repo.local=$CI_PROJECT_DIR/backend/.m2/repository
  cache:
    paths:
    - backend/.m2/repository
  script:
  - cd backend
  - mvn -q test

test-frontend:
  stage: test
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run test:ci

build-frontend:
  stage: build
  tags:
  - chappie
  image: node:20
  before_script:
  - cd frontend
  - npm ci --no-progress --quiet --cache .npm --prefer-offline
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/.npm/
  script:
  - npm run build

updates structure of dirs and the name convention
  frontend/SystemTests/ApiUtils/UserApi.ts
  frontend/SystemTests/PageObjectModels/techniquePage.ts
  frontend/SystemTests/TestFiles/canaryTest.spec.ts
  frontend/SystemTests/TestFiles/technique.spec.ts
  frontend/SystemTests/Types/systemTestsTypes.ts
  frontend/SystemTests/fixtures.ts
  frontend/playwright.config.ts
  frontend/sys-test/fixtures/ExerciseApi.ts
  frontend/sys-test/fixtures/WorkoutApi.ts
  frontend/sys-test/fixtures/login_page.ts
  frontend/sys-test/login.spec.ts
  frontend/sys-test/pass.spec.ts
  frontend/sys-test/techniques.spec.ts
  frontend/tsconfig.json
Due: test-linter-frontend, test-frontend, build-frontend

Changed css class-names with Workout in them to their list-counterparts
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListItemComponent.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added rules:changes for generating api-docs and javadocs
  .gitlab-ci.yml
Due: none

Changed workout-activity-list css class to list-.......-....
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.jsx
  frontend/src/components/SavedList/SavedListInfo/SavedListComponent.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Started a test-file which will touch the database and ensure it's build correctly
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueTagsToBelt.java
Due: test-backend

API now calls correctly for permissions, working on a fix where each button can be toggled idependently
  frontend/src/pages/Admin/RoleCreate.jsx
  frontend/src/pages/Admin/RoleDetailPage.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated documentation of system tests, added a TODO to systemtest-guide, indented two lines in technique-spec-ts
  docs/Chapters/QA/Systemtest.md
  docs/Chapters/QA/systemtest-guide.md
  frontend/sys-test/technique.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

adds some comments
  frontend/SystemTests/PageObjectModels/techniquePage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added automatic release from release tag
  .gitlab-ci.yml
Due: none

Added 1.0 version
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsResponse.java
Due: test-backend

sorting button and functionality has been added and some css of the statistics fixed also
  frontend/public/upDownArrow.svg
  frontend/src/components/Common/SortingArrowButton/SortingArrowButton.jsx
  frontend/src/components/Common/SortingArrowButton/SortingArrowButton.module.css
  frontend/src/pages/Statistics/GradingStatisticsPopup.module.css
  frontend/src/pages/Statistics/Statistics.module.css
  frontend/src/pages/Statistics/StatisticsButton.module.css
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed belts
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsResponse.java
Due: test-backend

Fixed sys test for grading
  frontend/src/components/Common/EditableListItem/EditableListItem.jsx
  frontend/sys-test/gradingbefore.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Laid the ground work for fetching lists from the backend to the profile page
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed comment
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
Due: test-backend

style changes in Navbar.jsx made to reflect the image in the ticket
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/components/Common/Navbar/Navbar.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added the button that can navigate back to the add Examinee page. Added the functionality that the back arrow goes back to add Examinee page if we stand on the first technique
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added feature toggle
  .prettierrc
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed prettier config
  .prettierrc
Due: none

Added a role_id attirubute to user_table. Gave admin user the admin role by default.
  infra/database/init/01-init.sql
  infra/database/init/defaults/users.sql
Due: none

fixed docs
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  docs/api-docs/docs/api/statistics.md
Due: test-backend

Changed docker exec to docker compose exec.
  deploy.sh
Due: none

initial adding of special case get
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Fixed docs
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
Due: test-backend

Added fetching & rendering of grading protocol
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed failing tests
  backend/api/src/test/java/se/umu/cs/pvt/statistics/StatisticsAPITest.java
Due: test-backend

Removing unnecessary whitespaces
  frontend/src/components/Admin/AdminComponent.module.css
  frontend/src/components/Admin/ManageUser.jsx
  frontend/src/components/Common/AddExaminee/AddExaminee.jsx
  frontend/src/components/Common/BeltPicker/BeltPicker.jsx
  frontend/src/components/Common/CheckBox/CheckBox.module.css
  frontend/src/components/Common/InputTextField/InputTextField.jsx
  frontend/src/components/Common/Tag/TagInput.module.css
  frontend/src/components/Common/TextArea/TextArea.jsx
  frontend/src/pages/Activity/Exercise/ExerciseIndex.jsx
  frontend/src/pages/Activity/Technique/CreateTechnique/CreateTechnique.jsx
  frontend/src/pages/Activity/Technique/TechniqueEdit/TechniqueEdit.jsx
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed request return
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

fixed linter issues and making sure the last categories are visible if they need to be scrolled through (Then bottom panel should not cover the category).
  frontend/src/pages/Grading/During/DuringGrading.jsx
  frontend/src/pages/Grading/During/DuringGrading.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed tabs when creating a workout not scaling well
  frontend/src/components/Workout/CreateWorkout/AddActivity.module.css
Due: test-linter-frontend, test-frontend, build-frontend

fixing a test
  frontend/src/__tests__/pages/ExerciseIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed arguments when processing get
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationCommentRepository.java
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

Fixed tabs not scaling correctly at creating plan and technique/exercise pages
  frontend/src/pages/Activity/ActivityIndex.module.css
  frontend/src/pages/Plan/SessionCreateIndex.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed functionality except for cookies, but code needs cleaning up and two tests do not work.
  frontend/src/components/Plan/GroupPicker.jsx
  frontend/src/pages/Plan/FilterPlan.jsx
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added new useeffect and funcitons that fetches the correct grading protocol for the current grading
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added full functionality of loading protocol from examinee
  frontend/src/pages/Grading/GradingDeviations.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added back examinee id to the get mapping
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend

sorting button and functionality has been added and some css of the statistics fixed also
  frontend/src/components/Common/SortingArrowButton/SortingArrowButton.jsx
  frontend/src/components/Common/SortingArrowButton/SortingArrowButton.module.css
  frontend/src/pages/Statistics/Statistics.module.css
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

sorting button and functionality has been added and some css of the statistics fixed also
  frontend/src/pages/Statistics/StatisticsIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

grading protocol parsed but can not get the usestate to work
  frontend/src/pages/Grading/During/DuringGrading.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
