Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend, generate-api-docs, generate-javadocs, rebuild-database

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*
  generate-api-docs: any of: backend/api/**/*
  generate-javadocs: any of: backend/**/*
  rebuild-database: any of: infra/database/init/**/*

changed name for tests
  frontend/sys-test/gradingduring.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added redirect
  .gitlab-ci.yml
Due: none

Renormalized activityList.md
  docs/api-docs/docs/api/activityList.md
Due: none

Fixed a broken test by rendering the GroupPicker too, since that is now needed for the page to load correctly.
  frontend/src/__tests__/pages/Plan/PlanIndex.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Documentation & refactorization done for the database build tests
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

fixed dependencies and wrongly resolved merge conflict in ActivityListEntryRepository
  backend/api/pom.xml
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryController.java
  backend/api/src/main/java/se/umu/cs/pvt/activitylist/ActivityListEntryRepository.java
  backend/api/src/test/java/se/umu/cs/pvt/activitylist/ActivityListEntryControllerTest.java
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Added test for fetching grading comments
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Added redirect to stderr
  .gitlab-ci.yml
Due: none

Refactored the code used for filtering by only this user's groups.
  frontend/src/components/Plan/GroupPicker.jsx
  frontend/src/pages/Plan/FilterPlan.jsx
  frontend/src/pages/Plan/PlanIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed bug where day of the week got cut off on mobile. Fixed by making certain elements responsive to screen size.
  frontend/src/components/Plan/SessionHeader.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Fixed import Optional real
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Added logs
  .gitlab-ci.yml
Due: none

Fixed warnings in test file
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed test for finding all permissions for a user after changing the controller
  backend/api/src/test/java/se/umu/cs/pvt/permission/UsersToPermissionApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Small changes to playwright test
  frontend/sys-test/addtagpopup.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Removed the old activity list
  docs/api-docs/docs/api/activitylist.md
Due: none

Added output file to system
  .gitlab-ci.yml
Due: none

Fixed fireEvent error (lint)
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

removed bad comments
  frontend/src/components/Common/Sorting/NewSorter.jsx
Due: test-linter-frontend, test-frontend, build-frontend

hej
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocolCategory.java
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed post for comment to accept both when the examinee id is null and when its not but stil send en error when the user tries to add a comment to a user that does not exist.
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend, generate-api-docs, generate-javadocs

Removed artifact
  .gitlab-ci.yml
Due: none

Added comments to new function
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend, generate-api-docs, generate-javadocs

Removed unused import
  backend/api/src/main/java/se/umu/cs/pvt/examination/ExaminationController.java
Due: test-backend, generate-api-docs, generate-javadocs

Removed feature toggle
  frontend/src/pages/Plan/FilterPlan.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed unused import to silence linter.
  frontend/src/pages/Plan/FilterPlan.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed actvitiylist
  docs/api-docs/docs/api/activityList.md
Due: none

Revert "Merge branch 'An4S3Lbs-write_frontend_test_for_tag_system' into 'main'"
  frontend/src/__tests__/components/Common/Tag/AddTagPopup.test.jsx
  frontend/src/__tests__/components/Common/Tag/TagInput.test.jsx
  frontend/src/__tests__/pages/Technique/TechniqueEdit/TechniqueEdit.test.jsx
  frontend/sys-test/addtagpopup.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

Added further gradingdeviationcontainer tests
  frontend/src/__tests__/components/Grading/GradingDeviationContainer.test.jsx
Due: test-linter-frontend, test-frontend, build-frontend

out comment tests that can run locally due to fail for expects
  frontend/SystemTests/TestFiles/addtagpopup.spec.ts
  frontend/SystemTests/TestFiles/gradingBefore.spec.ts
Due: test-linter-frontend, test-frontend, build-frontend

commenting out all tests for debugging
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

commenting out teardown for debugging
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

changes values to existing exercises plus adds a few more lists
  infra/database/init/defaults/activitylists.sql
Due: test-database, rebuild-database

Changed path
  .gitlab-ci.yml
Due: none

Added nofail if no test is ran
  .gitlab-ci.yml
Due: none

Running a single dummy-test
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Mock API version 1.0
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocolDTO.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/gradingprotocol/GradingProtocolTechinque.java
Due: test-backend, generate-api-docs, generate-javadocs

Running ONLY setup
  backend/api/src/test/java/se/umu/cs/pvt/technique/TechniqueDatabaseTest.java
Due: test-backend, generate-api-docs, generate-javadocs

Fixed linebreaks in long line rows
  backend/api/src/test/java/se/umu/cs/pvt/examination/ExaminationApiTest.java
Due: test-backend, generate-api-docs, generate-javadocs
