Repository rakibhasan-0/yotei: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Path conditions:
  test-linter-frontend: any of: frontend/**/*
  test-backend: any of: backend/**/*
  test-database: any of: infra/database/init/**/*
  test-frontend: any of: frontend/**/*
  build-frontend: any of: frontend/**/*

Changed the symbol from X to Link. Fixed bug so the name didnt update when edited
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingBefore.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Changed text in popup-screen.
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linting problem
  frontend/src/components/Common/EditableListItem/EditableListItemGrading.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed manually space from the file
  frontend/src/pages/Grading/GradingBefore.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Moved starFill to public folder
  frontend/public/starFill.svg
  frontend/src/pages/Profile/Profile.jsx
Due: test-linter-frontend, test-frontend, build-frontend

setError no longer takes a second param, to simplify usage
  frontend/src/components/Common/DatePicker/DatePicker.jsx
Due: test-linter-frontend, test-frontend, build-frontend

fixed list add activity css styling to match other similiar pages
  frontend/src/components/Common/List/ListAddActivity.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Further comments to enhance understanding
  frontend/src/utils.js
Due: test-linter-frontend, test-frontend, build-frontend

added isAdmin checks for create/edit page of roles
  frontend/src/pages/Admin/RoleCreate.jsx
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed unused import
  frontend/src/pages/List/FavouriteWorkoutList.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added some comments
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixed text bug when deleting a role that is used by at least one user.
  frontend/src/components/Admin/Delete/RoleDelete.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Added '-' so it is easier to read
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
  frontend/src/components/Common/EditableListTagItem/EditableListTagItem.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Refactored code to make it more readable.
  frontend/src/components/Admin/Delete/RoleDelete.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed useless tab.
  frontend/src/components/Admin/Delete/RoleDelete.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Missed one -
  frontend/SystemTests/PageObjectModels/addTagPopupPage.ts
Due: test-linter-frontend, test-frontend, build-frontend

Fixed linter tabs/spaces issue.
  frontend/src/components/Admin/Delete/RoleDelete.jsx
Due: test-linter-frontend, test-frontend, build-frontend

added so creation of new roles cant contain admin permission, check for edit if name is admin
  frontend/src/pages/Admin/RoleCreate.jsx
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed stored technique when activity is added
  frontend/src/components/Workout/CreateWorkout/ActivityInfoPopUp.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Changed to the correct graind protocol color
  backend/api/src/main/java/se/umu/cs/pvt/statistics/BeltSuccession.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsController.java
  backend/api/src/main/java/se/umu/cs/pvt/statistics/StatisticsRepository.java
  frontend/src/pages/Statistics/GradingStatisticsPopup.jsx
  infra/database/init/01-init.sql
  infra/database/init/defaults/grading_protocols.sql
Due: test-linter-frontend, test-backend, test-database, test-frontend, build-frontend

Removed unnecessary ExamineeButton files
  frontend/src/__tests__/components/Grading/PerformGrading/ExamineeButton.test.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeButton.jsx
  frontend/src/components/Grading/PerformGrading/ExamineeButton.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added on delete cascade for examinee_id in examination_comment
  infra/database/init/01-init.sql
Due: test-database

Fixed some css
  frontend/src/components/Common/EditableListItem/EditableListItemGrading.jsx
  frontend/src/pages/Grading/GradingBefore.jsx
  frontend/src/pages/Grading/GradingBefore.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Added so the viewport on android mozilla doesn't cover up the back button
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Removed isAdminUser navigation check to solve bug for ExerciseEdit.jsx.
  frontend/src/pages/Activity/Exercise/ExerciseEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Update SearchUserDBBuilder.java
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchUserDBBuilder.java
Due: test-backend

fixed problem with navbar on some devices
  frontend/src/components/Common/Navbar/Navbar.jsx
  frontend/src/components/Common/Navbar/Navbar.module.css
Due: test-linter-frontend, test-frontend, build-frontend

Removed docs folder
  api-docs/api-hook.py
  api-docs/docs/api/activitylist.md
  api-docs/docs/api/belt.md
  api-docs/docs/api/comment.md
  api-docs/docs/api/examination.md
  api-docs/docs/api/exercise.md
  api-docs/docs/api/export.md
  api-docs/docs/api/gradingprotocol.md
  api-docs/docs/api/import.md
  api-docs/docs/api/media.md
  api-docs/docs/api/plan.md
  api-docs/docs/api/search.md
  api-docs/docs/api/session.md
  api-docs/docs/api/statistics.md
  api-docs/docs/api/tag.md
  api-docs/docs/api/technique.md
  api-docs/docs/api/user.md
  api-docs/docs/api/user_settings.md
  api-docs/docs/api/workout.md
  api-docs/docs/extra.css
  api-docs/docs/index.md
  api-docs/mkdocs.yml
  docs/api-docs/docs/api/.idea/.gitignore
  docs/api-docs/docs/api/.idea/api.iml
  docs/api-docs/docs/api/.idea/misc.xml
  docs/api-docs/docs/api/.idea/modules.xml
  docs/api-docs/docs/api/.idea/vcs.xml
Due: none

Added updated author info.
  frontend/src/pages/Activity/Exercise/ExerciseEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Updated dockerfile
  nginx/development/Dockerfile
Due: none

Resolved comments
  backend/api/src/main/java/se/umu/cs/pvt/search/params/SearchUserParams.java
  backend/api/src/test/java/se/umu/cs/pvt/search/UserParamsTest.java
Due: test-backend

Fixed so the viewport on android mozilla firefox doesn't block the back button
  frontend/src/pages/Grading/GradingDeviations.jsx
  frontend/src/pages/Grading/GradingDeviations.module.css
Due: test-linter-frontend, test-frontend, build-frontend

removed stupid console log lines
  frontend/src/pages/Admin/RoleEdit.jsx
Due: test-linter-frontend, test-frontend, build-frontend

add id for buttons on group page
  frontend/src/pages/Plan/GroupIndex/GroupIndex.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed unused belts from fetchlistcontent in AddActivity
  frontend/src/components/Workout/CreateWorkout/AddActivity.jsx
Due: test-linter-frontend, test-frontend, build-frontend

Removed last years README files
  backend/README.md
  backend/Schema över Endpoints.drawio
  backend/Schema över Endpoints.png
  frontend/README.md
  infra/INSTALL.md
Due: test-linter-frontend, test-backend, test-frontend, build-frontend

create a group dynamically in system test
  frontend/SystemTests/PageObjectModels/groupsPage.ts
  frontend/SystemTests/TestFiles/groups.spec.ts
  frontend/SystemTests/Types/systemTestsTypes.ts
Due: test-linter-frontend, test-frontend, build-frontend

added file I forgot to save :(
  backend/api/src/main/java/se/umu/cs/pvt/search/builders/SearchUserDBBuilder.java
Due: test-backend
